[2020-06-30 14:20] radomskip opened #2 "Parsing error when running prettier"
Hi, when I execute prettier on this file:

<img width="756" alt="Captura de Pantalla 2020-06-30 a la(s) 11 03 55" src="https://user-images.githubusercontent.com/33379686/86135608-730e6880-bac1-11ea-8f6f-39c78a2eab4b.png">

I get this error:

<img width="763" alt="Captura de Pantalla 2020-06-30 a la(s) 10 55 37" src="https://user-images.githubusercontent.com/33379686/86135399-23c83800-bac1-11ea-867

[2020-06-30 17:54] hosseinmd commented on #2
This error is not about JsDoc. This error occurs because your type definition is wrong.

I think you can solve the problem with this code
[code]

[2020-06-30 17:59] hosseinmd commented on #2
Or if you want to use jsdoc in your type definition this can help you.

[code]

[2020-06-30 18:00] #2 closed

[2020-07-07 09:00] gum3n opened #3 "Initial source code"
Well You could at least mention from where you got the initial source code
https://gitlab.com/gumen/prettier-plugin-jsdoc

[2020-07-07 09:05] wwalasekperform commented on #3
Also, our code is still in there and you claimed copyright https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/2b89423324e0234ff628bf8d01a2dafdc893d9e5/LICENSE#L3 - fork would be more appropriate. This is not what opensource is for

[2020-07-07 09:50] gum3n commented on #3
To be perfectly clear. It's fantastic that you are developing this project. You have put it on npm, and there are people that use it :heart:

I just don't quite get your motives behind getting all the credit for yourself. It's open source. We [code together](https://www.youtube.com/watch?v=_9aLiv5M6AQ) :wink:

[2020-07-07 14:28] hosseinmd commented on #3
Yes, you are right.
I started this module from your module. many things have changed.

Your project doesn't have a license and i have to set up a license in that for publishing project on npm, there is an MIT license. this project is completely open source too.

i will mention you on that.

[2020-07-12 17:25] hosseinmd commented on #3
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/f209561df4fc45c38f235f908b59487806a03698

[2020-07-12 17:25] #3 closed

[2020-08-07 20:01] hosseinmd commented on #2
Fixed in this https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/c98ecbb44c1eeb462a7fd632fd7d9449df717fb7

[2020-08-16 03:34] melink14 opened #4 "Should wrap at 80 columns or be configurable"
Currently, it seems to wrap based on the length of the comment ignoring the spaces and *s before the start of a jsdoc line.

This means that it wraps at the odd length of 83 characters for a standard jsdoc setup.

The forked module had a `jsdocPrintWidth` option that could be used to account for that difference but it seems this version removed it.

[2020-08-16 07:01] hosseinmd commented on #4
You are right, I removed jsdocPrintWidth but instead used prettier printWidth options, for more matching with prettier.
About 83 characters, I have another situation where using jsdoc in class, here jsdoc has more than 83 characters maybe 85.
Imagine where using comment more deep. If I don't ignore space the real length of comment is less.
This needs discussion. What can I do?
1- continue current

[2020-08-16 08:56] melink14 commented on #4
Ah, that makes sense and I agree that matching with prettier's printWidth is correct.

You're right that at deeper levels the indentation increases though I don't think it will go too much deeper than that in a clean codebase!

To that end, I vote for #2 since that will allow the comments to align with the code. Since code is even more likely to be nested than JSDoc it seems like as long as the co

[2020-08-16 09:26] hosseinmd commented on #4
Ok, I will do that tonight.

[2020-08-17 20:14] hosseinmd commented on #4
Done

[2020-08-17 20:14] #4 closed

[2020-08-17 22:59] melink14 commented on #4
Thanks for the fast response! Cheers!

[2020-08-19 14:04] melink14 opened #5 "Is there any way to preserve formatted text?"
For example, I sometimes include lists in my jsdoc descriptions which currently get collapsed by the formatter:

[code]

I'm not sure of a good generic way to handle this. Maybe detecting HTML or Markdown syntax to know that something shouldn't be formatted. Or recognizing some kind of <pre> tag which ignores formatting.

Disabling the formatter for just that comment would also be a solution but I

[2020-08-19 14:24] hosseinmd commented on #5
I have an idea. But I don't know if this is good.
[code]

[2020-08-21 00:58] melink14 commented on #5
That's not bad, but my linter will cry if I use non valid tags in jsdoc. :)

I think this should be doable with some combination of prettier-ignore so I will try this weekend!

[2020-08-27 14:32] hosseinmd commented on #5
I found some stuff about VSC intellisense. VSC ignoring \n of description when showing that in popup.
For example:
<img width="637" alt="Screen Shot 2020-08-27 at 6 52 55 PM" src="https://user-images.githubusercontent.com/45505767/91454854-a76e8d00-e896-11ea-9f4d-df13305733ab.png">

vsc show that like

<img width="727" alt="Screen Shot 2020-08-27 at 6 54 50 PM" src="https://user-images.githubuserc

[2020-08-27 14:36] hosseinmd commented on #5
Your description will be something like this.
<img width="331" alt="Screen Shot 2020-08-27 at 7 04 26 PM" src="https://user-images.githubusercontent.com/45505767/91456234-434cc880-e898-11ea-8e87-ed2336c01dba.png">
VSC showing that this way:
<img width="341" alt="Screen Shot 2020-08-27 at 7 04 38 PM" src="https://user-images.githubusercontent.com/45505767/91456361-67a8a500-e898-11ea-86ed-fa6f8ef0e2

[2020-08-27 15:23] hosseinmd commented on #5
Paragraph separation has been implemented and published in the 0.1.0 version.

[2020-08-27 15:23] #5 closed

[2020-08-27 15:23] hosseinmd commented on #5
@melink14 Thank you

[2020-08-29 04:34] melink14 commented on #5
Thanks for the update. I can confirm the extra newlines definitely work.
It's a bit verbose and it's also too bad that indentation gets removed, though vscode hover treats it OK.

I was comparing that formatting to clang-format which seems to keep newlines intact which is the opposite end of the spectrum. clang-format is nice but I think your work here will allow me to continue using prettier!

👍🏾

[2020-08-29 11:59] hosseinmd commented on #5
Issue with Line starting space resolved. https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/73adaf134d26ff274e88516d8a01800d762640e7
You can use this format now
[code]
But this is best if you want to have VSC Intelisense benefits.
[code]

[2020-08-29 12:13] melink14 commented on #5
Thanks! This is definitely going to be useful.

[2020-09-01 00:54] melink14 opened #6 "[0.1.1] Formatting differences => bugs?"
Noticed some surprising results in the latest version of the formatter. Thanks as always for taking a look.
I know you made a change that allowed indentation for lists but not sure if the other changes were intended.

[code]

becomes

[code]

even though the second example is 81 characters long. (This may be intentional but

[code]

became

[code]

For some reason, the asterisks are now inbetween

[2020-09-01 07:53] hosseinmd commented on #6
Fixed: https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/b4fa77e5b897d110a00beb7c6d550e346aa95733
v0.1.2

[2020-09-02 20:59] hosseinmd commented on #6
Please test the latest version and feel free to reopen if there is still a problem.

[2020-09-02 20:59] #6 closed

[2020-09-02 22:36] melink14 commented on #6
Thanks for the update! The main problem with `@override` was fixe but the first example of a line unwrapping to 81 columns is still there.

If I add one more character it re-wraps so it seems like an off by one error. I can open a new issue for that though if you want to keep this one about @override.

Thanks!

[2020-09-03 07:01] hosseinmd commented on #6
Something is wrong with that. So I test that line  it seem to have 80 char
<img width="608" alt="Screen Shot 2020-09-03 at 11 27 44 AM" src="https://user-images.githubusercontent.com/45505767/92081746-cb6f2880-edd8-11ea-87b7-2401b24e2773.png">

[2020-09-03 07:17] melink14 commented on #6
Ah, I think I know what's going on.

In reality, there's always a newline character at the end of the line so really the IDE is counting it like:
[code]

I think the newline character is usually counted for formatters, but it's not big issue to me now that we know the reason why!

[2020-09-10 01:01] sgtpep opened #7 "Handle a default import using `{import("Foo")}`"
At the moment, `@typedef {import("Foo")} Foo` works fine in TypeScript and is equivalent to `@typedef {import("Foo").default} Foo`, but `prettier-plugin-jsdoc` removes a trailing bracket: `@typedef {import("Foo"} Foo`.

[2020-09-10 09:16] hosseinmd commented on #7
I fixed that in https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/7fd2a8007bcb483ded0cda22d3761fcb03a7c8e
The changes will be published on Saturday.
Thanks

[2020-09-10 12:15] sgtpep commented on #7
Wow, that was quick! Thank you so much!

[2020-09-10 13:07] #7 closed

[2020-09-12 06:57] hosseinmd commented on #7
done v0.2.0

[2020-09-13 02:25] melink14 commented on #6
Let me know if I should file a new issue for not counting newlines or if you want to keep it at code width + 1.

In the latter case, I'll reformat my code and so I can update to the new NPM version. :)

[2020-09-13 06:37] hosseinmd commented on #6
Please create a new issue if the problem is not related to this issue.

[2020-09-13 07:10] melink14 opened #8 "Line column width calculation appears to not include newline leading to 81 character lines"
Branched from #6

[code]

becomes

[code]

The key (as discovered in #6) is that the string is 80 characters not including the final `\n` character.

This started in v0.1.1 but I wasn't able to find exactly why from quickly looking at the diffs. (Stil present in v0.2.0).

Most lines aren't exactly 81 characters long so it's definitely an edge case!

If it was an accident then maybe we should fix i

[2020-09-13 07:39] hosseinmd commented on #8
https://prettier.io/docs/en/options.html#print-width this is cool. But I don't know how much is average?

[2020-09-13 07:48] melink14 commented on #8
Hmm, I don't think it cares about a precise average but more like having some lines be shorter and some lines be longer but in general ending up around 80/`printWidth`. I think it's more of a philosohpy.

The implementation can vary. For example, since the newline character does not affect our reading of the code it doesn't make sense to wrap *just* for the newline so we can trim the whitespace be

[2020-09-13 08:01] hosseinmd commented on #8
Right, I think removing newline from count is a good idea. But what about the small word at the end of the line which has 81 char or something?

[2020-09-13 08:08] melink14 commented on #8
I think if there's a good general purpose rule to encode then it makes sense, otherwise as long as we're consistent, the code will be readable.

For that case, I think it could be implemented like:

`if line > 80 break at first whitespace past 80 unless line is still >= 90`

or similar. But it might be better to keep it simpler unless more users bring up those ideas.

These are the fun problems of

[2020-10-19 22:45] lowkeypriority opened #9 "Hyphen deletion after parameter name in "@param" block"
I'm using tsdoc plugin for ESlint. It has a rule *"The `@param` block should be followed by a parameter name and then a hyphen"*:

![image](https://user-images.githubusercontent.com/40892927/96519400-9b3ef480-1275-11eb-90e2-b6619b3a42b6.png)

When I'm trying to follow this rule and add a hyphen, I get the following error:

![image](https://user-images.githubusercontent.com/40892927/96519450-b14cb5

[2020-10-19 23:05] hosseinmd commented on #9
I think your syntax is wrong. You should define param like this:
[code]

[2020-10-19 23:06] hosseinmd commented on #9
as user case
[code]

[2020-10-19 23:19] lowkeypriority commented on #9
I'm using TSdoc and it has rule `The @param block should not include a JSDoc-style '{type}'`

Probably it is worth abandoning this plugin in favor of JSdoc :\

[2020-10-19 23:23] hosseinmd commented on #9
Maybe we should add some options to support tsdoc

[2020-10-19 23:30] hosseinmd commented on #9
I like tsdoc i will support it soon.

[2020-10-22 17:30] hosseinmd commented on #9
I want to work on this thread. So could you reproduce your project? I need something to test.

[2020-10-29 23:23] hosseinmd commented on #8
Done https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/770e213f3cbf30f4dba0449fb2953c08a05a5bd7

[2020-10-29 23:23] #8 closed

[2020-11-06 14:24] charklewis opened #10 "Ignored unknown option { jsdocParser: true }"
I am unable to get prettier to format js docs in my files. I have the following versions and when I run prettier from the CLI I get the below error.

[code]

[code]

My prettier config looks like:

[code]

Prettier respects the other settings in this config but totally ignore the jsDocParser rule. Am I missing any config or is this a bug in the recent release?

[2020-11-06 15:24] hosseinmd commented on #10
Your config is right. sometimes you need to close and reopen VSC to stop/start prettier service.

[2020-11-06 15:39] charklewis commented on #10
Ah nice, it is now formatting when I save in VSCode. However, it does not format when I run the CLI - I still get that error. Is this expected?

[2020-11-06 15:52] hosseinmd commented on #10
`[warn] Ignored unknown option { jsdocParser: true }.`
This is just a warning, no problem. I could remove jsdocParser from config because that default is true.

[2020-11-06 15:58] charklewis commented on #10
Gotcha, does this plugin supposed to run when using the prettier cli? For example `prettier myFile.js --write`. I notice it does not work this way.

[2020-11-06 16:06] hosseinmd commented on #10
Yes, it should be work.

[2020-11-06 16:07] hosseinmd commented on #10
Please test it with `yarn prettier --write ./src`

[2020-11-06 16:11] charklewis commented on #10
Ah yes this works, I must have had my arguments in the wrong order. Thank you for the help!

[2020-11-06 16:11] #10 closed

[2020-11-13 17:53] #9 closed

[2020-11-13 17:55] lowkeypriority commented on #9
@hosseinmd Hi
What happend?

[2020-11-13 18:36] hosseinmd commented on #9
Hi
I need a small app with your config to work on it. I can't do it without your help.

[2020-11-13 20:53] hosseinmd commented on #9
Or maybe if another one has this issue I will do it.

[2020-11-27 19:26] Aqzhyi opened #11 "support jsdoc @ example with <caption>...</caption>"
This is really a wonderful package. But I just ran into an issue about `@example`

## BEFORE

![image](https://user-images.githubusercontent.com/1500206/100479322-d102b300-3128-11eb-9f67-e71415efe46f.png)

## AFTER

![image](https://user-images.githubusercontent.com/1500206/100479336-da8c1b00-3128-11eb-8491-79bc6e906602.png)

## ref

https://jsdoc.app/tags-example.html

[2020-11-28 13:51] hosseinmd commented on #11
Hi there, I will check it as soon as possible.

[2020-11-28 14:07] hosseinmd commented on #11
There is a temporary solution
Change your code to this
[code]

[2020-11-28 16:21] Aqzhyi commented on #11
It doesn't work.

It is formatting into

[code]

And VSCode losing the code highlight.

But even so, it does more convenient for me.

Thank you and your project. 😍

[2020-12-01 22:52] Aqzhyi opened #12 "＠type {import(...)} should known the Pascal case"
![Kapture 2020-12-02 at 06 49 57](https://user-images.githubusercontent.com/1500206/100806072-cae33e00-346a-11eb-99c7-e09a88a8cf9f.gif)

BEFORE

[code]

AFTER

[code]

[2020-12-02 00:31] runarberg opened #13 "Add hyphen between symbol and description"
I really prefer to have a hyphen (`-`) separating symbol names (e.g. a param name) and a description. The current behavior is to strip the hyphen, as it is optional in JSDoc, but there are several reasons to prefer it:

* It visually separates the name from the description.
* It is easier to quickly guide my eyes to the name as the thing before the hyphen.
* It prevents the name from becoming a pa

[2020-12-02 00:32] runarberg commented on #13
I don’t use screen readers; but I would like to see an input from such a user, as I can imagine this stylistic choice can make a huge difference in how assistive technology presents this information.

[2020-12-02 00:34] runarberg commented on #13
Also note: Some text editors and IDEs might syntax highlight the name making it easier to visually distinguish for those users, but this is by no means universal, as you can see by the vary own syntax highlighter here on GitHub.

[2020-12-02 00:37] runarberg commented on #13
Related #9

[2020-12-02 06:55] hosseinmd commented on #13
I don't think hyphen be a standard. Vscode highlighting Jsdoc.

[2020-12-02 06:57] hosseinmd commented on #13
Do you have a reliable reference for this?

[2020-12-02 07:40] hosseinmd commented on #12
Please add a space between tag and type.
/** @type {import('@jest/types/build/Config').InitialOptions} */

[2020-12-02 08:04] hosseinmd commented on #12
I think that can be fixed automatically I will work on it as soon as possible.

[2020-12-02 15:58] runarberg commented on #13
The hyphen is optional in JSDoc, and on the [JSDoc website](https://jsdoc.app/about-block-inline-tags.html) they use a hyphen in their examples.

I’m not a user of VSCode, so I don’t know how it is highlighted, but here on GitHub there is no highlighting the name:

![jsdoc comment on github](https://user-images.githubusercontent.com/3984600/100895161-19e0a180-3472-11eb-8733-467398fdeacb.png)

And

[2020-12-02 16:46] hosseinmd commented on #13
Right, so we should not trim that. so you can add a hyphen at the start of description if you would.

[2020-12-02 17:04] runarberg commented on #13
The current behavior is to strip the hyphen:

[code]

[2020-12-02 19:38] hosseinmd commented on #12
Done https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/42444741bea8c53dd17e5a32629d903d0a503914

[2020-12-02 19:38] #12 closed

[2020-12-02 19:39] hosseinmd commented on #13
Done https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/89704b88e640f00ffec0508a38b012b35b8fc23b v0.2.5

[2020-12-02 19:39] #13 closed

[2020-12-02 19:40] hosseinmd commented on #11
Done v0.2.5

[2020-12-02 19:40] #11 closed

[2020-12-23 19:20] danielpza opened #16 "Not formatting typescript union correctly"
Input:

[code]

Expected:

[code]

Result:

[code]

[2020-12-23 21:23] #16 closed

[2020-12-29 15:24] DreierF opened #18 "Crash on `/***`"
Hi,

First of all thanks for this awesome plugin! It mostly works really great, but I found an edge case in our code base that makes it crash with:

[code]

Reproduction example:
[code]

I'm aware that this is not a "correct" JSDoc comment as it should only have two asterisk characters, but the plugin should just ignore/remove the additional asterisk symbol.

[2020-12-29 18:48] hosseinmd commented on #18
Fixed: https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/1ac43d16845d796c72c9cfac04da17ea739bdb03
Release: v0.2.13  https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/24428a0cd4923b824fe246cc8c9836e72b698aba

Thank you.

[2020-12-29 18:48] #18 closed

[2021-01-08 06:45] 5saviahv opened #19 "Some reason prettier adds spaces in example section"
Some reason prettier adds spaces in javascript examples each time I press save in vscode. I tried with cli but same.
if I specified `"jsdocParser": false` this behaviour stops so I believe it comes from this package.

Some reason it also wont respect **print width** setting.

[code]
one idea was maybe it is somehow markdown related and escaped **\`** with **\\\`**, but then behaviour changes to ad

[2021-01-08 10:35] hosseinmd commented on #19
Fixed in v0.3.4

Thank you.

[2021-01-08 10:35] #19 closed

[2021-01-27 15:55] mrvisser opened #23 "Configure camel case annotation"
Hey, love the plugin. Thanks @hosseinmd and @gum3n.

I'm working with TSOA, which runs heavy on some JSDoc annotations, and they rely on one: @tsoaModel which is a camel/mixed case annotation.

Unfortunately, this library lower-cases it, resulting in breaking that functionality. It's not compatible.

Would it make sense to only lower-case standard JSDoc annotations, and leave unknown ones be? Happ

[2021-01-27 16:13] hosseinmd commented on #23
i agree. Contribute is so welcome. Please PR.

[2021-01-27 17:52] #23 closed

[2021-01-31 16:47] RunDevelopment opened #25 "Word wrap does not account for tabs"
![image](https://user-images.githubusercontent.com/20878432/106390986-66e9e100-63eb-11eb-9e34-62e1dc6d0a33.png)

I did a little digging in the code and it seems that one tab is treated the same as one space. Obviously, this is a problem.

---

Print width is configured as 120. The column ruler sits at 120 as well. Tabs are configured to be 4 spaces wide (in both Prettier and my IDE).

[2021-01-31 16:48] RunDevelopment opened #26 "Word wrap does not work"
Max print width may be ignored with spaces (and possibly also tabs but it's hard to tell because of #25):

![image](https://user-images.githubusercontent.com/20878432/106390944-24c09f80-63eb-11eb-8036-dc2e807df6df.png)

---

Print width is configured as 120 in all screenshots. The column ruler sits at 120 as well.

[2021-01-31 17:14] RunDevelopment opened #28 "Don't remove default values of optional parameters"
For some reason, this plugin removes the default values of optional parameters and simply adds a note with the default value.

This is a problem because JSDoc's static site generator cannot detect default values this way and is unable to add them to the parameter table. [This example](https://prismjs.com/docs/Prism.html#.highlightAllUnder) has a *Default* column that is missing after formatting th

[2021-01-31 17:20] RunDevelopment opened #29 "Tag sorting breaks type definitions"
TypeScript's JS check supports multiple type definitions per comment. This plugins breaks those:

### Example

Before:
[code]

After:
[code]

[2021-01-31 17:30] RunDevelopment opened #30 "Incorrect Array type transformation"
This plugin tries to transform `Array<T>` to `T[]` but it produces an invalid type if `T` is a lambda.

It's [this regex](https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/8b5a13ad50452deb0d0172e60f490dc2d73d0d78/src/utils.ts#L7)'s fault.

Also, free code review :) [The negated lookaheads](https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/8b5a13ad50452deb0d0172e60f490dc2d73d0d78/src/ut

[2021-01-31 17:38] RunDevelopment opened #31 "Inconsistent tag sorting"
When and in what order are tags sorted?

I have noticed that `@template` tags are sometimes moved before all other tags (like `@param`) but only sometimes. Is this a bug or is this intended behaviour?

[2021-01-31 17:43] RunDevelopment opened #32 "Markdown indented code blocks do not work properly"
It seems like lines in indented code blocks that start with a dash are incorrectly recognized as lists.

### Example

Before:
[code]

After:
[code]

[2021-01-31 17:44] hosseinmd commented on #28
This is because default value is not recognized by VS Code.
For Example:

<img width="698" alt="Screen Shot 2021-01-31 at 9 09 00 PM" src="https://user-images.githubusercontent.com/45505767/106392851-06699c80-6409-11eb-89da-670dad7d1be8.png">

I this Picture some one which using that function never know which params has what default value, so that will be converted to:

<img width="686" alt="Scree

[2021-01-31 17:48] RunDevelopment opened #33 "Separate `@typedef` declarations from the rest"
I like to move more complex types into a `@typedef` tag but this plugin merges those tags with the rest of the comment. Is this intended behaviour?

IMO, `@typedef`s should be at the end of a comment and they should have an empty line above them to clearly separate them from the rest.

### Example

Before:
[code]

After:
[code]

[2021-01-31 17:56] hosseinmd commented on #31
No that is not correct behavior. `@template` should be on top of `@param`.

[2021-01-31 17:57] hosseinmd commented on #31
Could you give me an example

[2021-01-31 17:58] RunDevelopment commented on #28
So this feature was added to work-around a shortcoming of TypeScript's language server. That's reasonable. However, I still think that it's not a good idea to remove the default values. As I said, it interferes with JSDoc.

I'm not sure what the best solution is here. My proposed option to turn this off will work but it won't solve the underlying problem.

[2021-01-31 18:00] RunDevelopment commented on #31
Sure!

### Example

Before:
[code]

After:
[code]

[2021-01-31 18:03] hosseinmd commented on #32
Currently, we supported adding code in (```js {code} ```). But I will work on these issues.

[2021-01-31 18:05] hosseinmd commented on #31
This is correct.

[2021-01-31 18:08] hosseinmd commented on #31
Tags order is there https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/master/src/roles.ts#L121

[2021-01-31 18:10] RunDevelopment commented on #31
I am truly sorry. It seems like I have accidentally looked at files that were not formatted by prettier regarding the `@template` tag.

[2021-01-31 18:11] RunDevelopment commented on #31
So the order is intentionally not alphabetical. Thank you for the info.

[2021-01-31 18:11] #31 closed

[2021-01-31 18:12] hosseinmd commented on #28
I think the best option is to keep both, if there is a way to do it.

[2021-01-31 18:15] RunDevelopment commented on #28
Well, this plugin could detect if the param description ends with a `Default value is <value>` sentence and automatically update/add it if necessary.

[2021-01-31 20:42] hosseinmd commented on #30
Fixed: https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/3aab697d8a78cd72633d39a0b3403d773d0a7ece

[2021-01-31 20:42] #30 closed

[2021-01-31 22:02] hosseinmd commented on #32
Fixed in
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/33df06d2f5ae2f1d08c1612c3580751b8a98470b
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/9bb4ec6478529c7f2e89e35e18c48ff8181b65df

[2021-02-01 14:36] danielpza commented on #29
We could define a series of task that work like regions, eg `@callback` and `@typedef`. When one is encountered we limit the sorting to right before it, and start a new region to sort after it.

[2021-02-01 15:03] RunDevelopment commented on #29
This will work but has a problem: `@template`.

Let's look at the following:

[code]

![image](https://user-images.githubusercontent.com/20878432/106475481-429f0a80-64a6-11eb-939f-ba1b4358284d.png)
![image](https://user-images.githubusercontent.com/20878432/106475500-47fc5500-64a6-11eb-9b2d-1f01cac42d12.png)
![image](https://user-images.githubusercontent.com/20878432/106475528-4f236300-64a6-11eb-9

[2021-02-01 15:09] danielpza commented on #29
For one we could disable sorting if we encounter any typescript related tags. Perhaps we can do this until we find a better solution...

[2021-02-01 15:26] RunDevelopment commented on #29
Sounds like a good solution for now.

[2021-02-01 15:44] RunDevelopment opened #39 "Stable tag sorting"
Tag sorting currently uses [`Array.prototype.sort`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort). This sort function is only guaranteed to be stable since quite recently. However, the [current tag sorting](https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/9bb4ec6478529c7f2e89e35e18c48ff8181b65df/src/parser.ts#L169) assumes stable sorting and ma

[2021-02-01 21:09] hosseinmd commented on #39
I think we don't have to pay for the previous versions, users can update NodeJS to the latest version.

Is good solution

[2021-02-01 21:24] #28 closed

[2021-02-01 21:36] #39 closed

[2021-02-02 17:34] hosseinmd commented on #26
We are not too strict for print width on the end line of paragraphs.
We decided about that on this https://github.com/hosseinmd/prettier-plugin-jsdoc/issues/8#issuecomment-691631278

[2021-02-02 17:56] hosseinmd commented on #26
This is a description which broke in two line:
<img width="726" alt="Screen Shot 2021-02-02 at 9 19 53 PM" src="https://user-images.githubusercontent.com/45505767/106641531-8f650d00-659c-11eb-8a05-1b71c7e092aa.png">
If we remove a few words from that:
<img width="726" alt="Screen Shot 2021-02-02 at 9 21 49 PM" src="https://user-images.githubusercontent.com/45505767/106641730-c9ceaa00-659c-11eb-99a

[2021-02-02 18:00] hosseinmd commented on #25
Could you give me your example code?

[2021-02-02 18:23] RunDevelopment commented on #32
Please reopen.

The fix is not correct as can be seen in [the test case](https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/9bb4ec6478529c7f2e89e35e18c48ff8181b65df#diff-d26bfa28cac149b1d37eeeec3b89c113e53cbe9e9eedda0bdf8153ba3270830bR268). The current fix changes the code itself and invalidates part of the code block (the parts where indentation has been removed).

[2021-02-02 18:25] RunDevelopment commented on #25
[Source](https://github.com/PrismJS/prism/blob/266cc7002e54dae674817ab06a02c2c15ed64a6f/components/prism-core.js#L286).

[2021-02-02 19:18] RunDevelopment commented on #29
I also found this:

Before:
[code]
![image](https://user-images.githubusercontent.com/20878432/106650845-ab17e580-6593-11eb-8e22-df4f0ad73a44.png)

After:
[code]

![image](https://user-images.githubusercontent.com/20878432/106650808-a2271400-6593-11eb-9a64-63d8904fb5ce.png)

[2021-02-03 20:00] hosseinmd commented on #33
Fixed https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/dfc78b40edd088d0c03afa8d76b6d61feb0f8383

[2021-02-03 20:09] #33 closed

[2021-02-04 00:33] RunDevelopment opened #46 "Examples indented by 2 spaces"
Right now, the code in `@example` tags is indented by 2 spaces. Why is there an indentation at all (this seems to be uncommon) and why 2 spaces specifically?

[2021-02-04 00:37] RunDevelopment opened #47 "Examples code, code blocks, and types use tab indentation"
If the option `useTabs: true` is active, example code, MD code blocks, and types (the types of tags if multiline) will be indented using tabs. This looks very weird as everything else inside JSDoc comments is usually indented using spaces.

This is especially noticeable in `@example` tags because the code as a whole is indented by 2 spaces and tabs after the space indentation look quite silly.

Is

[2021-02-04 00:39] RunDevelopment opened #48 "Support for Windows line breaks (CRLF)?"
Does this plugin support Windows line breaks (CRLF)? It seems like most of the code assumes Unix line breaks. Is this intentional?

[2021-02-04 00:55] RunDevelopment opened #49 "Tag order: Tags between `@param` and `@returns`"
Right now, there can be [a lot of stuff](https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/d34af57c59ccee880862f8fc36582f540e71acc6/src/roles.ts#L151) between `@param` and `@return` tags. Why?

[2021-02-04 10:19] hosseinmd commented on #46
That is standard of Google style guide adding indented by 4 spaces, we changed that to 2 spaces. The reason of adding indented is for readability.

[2021-02-04 10:25] hosseinmd commented on #47
I think we could get spaces number from prettier options. What you think?

[2021-02-04 10:29] hosseinmd commented on #48
This need to implement.

[2021-02-04 10:34] hosseinmd commented on #49
Almost always throws, yields and returns are last tags.
Which tag is the problem for you?

[2021-02-04 11:41] RunDevelopment commented on #49
Well, except for maybe `@throws` and `@yields`, all of them. The biggest problem is "other". Why are all unknown tags inserted between a function's parameters and its return type? That's the biggest problem but `@see` isn't much better.

I would argue that there shouldn't be anything in between `@param` and `@returns`.

IMO, `@throws` should be after `@returns` too. For JavaDoc, there is an offici

[2021-02-04 11:42] RunDevelopment commented on #48
Shall I make a PR?

[2021-02-04 11:47] RunDevelopment commented on #47
"We" (as in this plugin) doesn't do the indentation. I was talking about the indentation of embedded code "we" (as in this plugin) uses Prettier to format.

Example:

![image](https://user-images.githubusercontent.com/20878432/106888474-e37c0880-66e6-11eb-8bbe-d3118827e65b.png)

This issue is about whether the tabs in embedded code are intentional or whether this should be classified as a bug.

[2021-02-04 11:59] hosseinmd commented on #25
i added your prism source to examples
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/ccf2028a0f26829df94213819630e4b2c3145c93
prettier converted tabs to spaces, and every thing work well

[2021-02-04 12:00] RunDevelopment commented on #46
Which one? The [Google JS style guide](https://google.github.io/styleguide/jsguide.html) doesn't mention `@example` tags.

I would argue that the spaces wouldn't be necessary if the `@example` tag was the last tag. It's very common that the `@example` tag is the last one in a comment. I always wondered by this plugin places this tag so high up.

As an example, let's look at [lodash's doc](https://

[2021-02-04 12:00] hosseinmd commented on #48
Yes please.

[2021-02-04 12:05] hosseinmd commented on #49
What orders you suggested?
Please add your other tags too.

[2021-02-04 12:15] hosseinmd commented on #46
I don't agree but if anyone (contributors or others) agrees with you, I will accept.
@mrvisser @forivall @Aqzhyi @danielpza @reggev

[2021-02-04 12:25] hosseinmd commented on #47
Excuse me about my misunderstanding, yes that is true behavior.
For types, example and code block we used prettier to format. Because of that prettier used tab instead of space.
I think we should not ignore it.

[2021-02-04 12:27] hosseinmd commented on #47
We have not paid any attention to it. for example, when adding indented to description.

[2021-02-04 13:25] mrvisser commented on #46
@RunDevelopment the indentation is not specific to the `@example` tags, it's general guidance for line wraps for any tag:

https://google.github.io/styleguide/javascriptguide.xml?showone=Comments#Comments

I'm not 100% sure if the line-wrapping is handled consistently across non-@example tags in this library though?

I think it's a bit of an opinion, which is fine by me for an automated formatters

[2021-02-04 13:25] RunDevelopment commented on #47
![image](https://user-images.githubusercontent.com/20878432/106897655-83d82a00-66f3-11eb-8811-235c4f7755e7.png)

Currently, cases like this are possible where a tab is displayed with the same width as a single space.

I think that it might be better to override the configured behaviour and use spaces.

If not for code blocks and examples, at least for types. Types are usually not explicitly format

[2021-02-04 13:31] RunDevelopment commented on #46
Then may I suggest adding an option to turn the indentation off?

I know that this goes against Prettier's philosophy of being "opinionated" but it might make this plugin more fitting for others and myself.

---

Also, the 2 spaces should probably be changed to `tabWidth`.

[2021-02-04 13:38] RunDevelopment commented on #49
How about this?

[code]

([Current](https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/d34af57c59ccee880862f8fc36582f540e71acc6/src/roles.ts#L122))

[2021-02-04 13:40] RunDevelopment commented on #25
Yes, but Prism doesn't use spaces. We use tabs and with tabs, the print width is calculated incorrectly.

[2021-02-04 13:44] hosseinmd commented on #46
This could be done.

[2021-02-04 13:52] mrvisser commented on #46
@RunDevelopment can you show any examples of what you're trying to write up in an example block where the indentation is causing a tangible issue that isn't founded on a counter-opinion of indentation?

[2021-02-04 13:53] hosseinmd commented on #47
IMO that is better to use prettier options for this plugin. Like `printwidth`.

[2021-02-04 14:01] hosseinmd commented on #49
Looks good to me, please make a PR.

[2021-02-04 14:06] hosseinmd commented on #25
So please add your options to  https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/master/tests/filePrism.test.js#L22

[2021-02-04 14:09] RunDevelopment commented on #46
Not really, it's just indentation after all. I wouldn't be able to find any examples of "tangible issue" in a discussion of tabs vs spaces or tabWidth 2 vs 4 vs 8 either.

The reason I opened this issue is that the 2 spaces seemed arbitrary to me (as in why **2** spaces and why spaces at all). I hadn't seen JSDoc comments with this style before and big projects like lodash also don't use it.

[2021-02-04 14:16] #48 closed

[2021-02-04 14:23] mrvisser commented on #46
Cool, thanks. My question wasn't really designed to be dismissive but more thinking if there are issues with code representation in cases where maybe `<pre></pre>`-style content was necessary, so thought maybe there could be more direct solutions to pre-formatted text scenarios.

Based on this conversation I'd personally be in favour of fixing it to `tabWidth`, but opposed to making it configurabl

[2021-02-04 14:37] RunDevelopment commented on #46
I had thought about it in that way but yes, there is an issue. I just tested it with JSDoc and they don't remove the indentation, so all examples have extra indentation. (EXCEPT for the first line. This actually a property of the parser they and we use. It trims the example code.)

Input code:
![image](https://user-images.githubusercontent.com/20878432/106907668-ce12d880-66fe-11eb-9eea-5afc8a8aeab

[2021-02-04 14:41] RunDevelopment commented on #47
Yes, I meant to suggest that we do use Prettier's options. The only option we would override is the `useTabs` options. All else would be unchanged.

[2021-02-04 14:48] mrvisser commented on #46
Yea, that's problematic, and trimming like that might be common among parsers.

Does JSDoc have a spec around what tags it's treating as pre-formatted text by default v.s. not? We might just need to have similar support for those defaults.

[2021-02-04 15:02] RunDevelopment commented on #46
FTFY. I can't tell you because [the docs don't say much about `@example`](https://jsdoc.app/tags-example.html). Is there even a specification for JSDoc? [Wikipedia claims there is](https://en.wikipedia.org/w/index.php?title=JSDoc&oldid=997874214#:~:text=The%20JSDoc%20specification%20is%20released%20under%20CC%20BY-SA%203.0) but doesn't provide any sources or a link to it.

[2021-02-04 15:04] RunDevelopment opened #54 "Tag order doesn't work"
Tag order doesn't work in [this test file](https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/422047192e63a72e6c61dcbcb0074070713c8ab2/tests/__snapshots__/template.test.js.snap#L7) as discussed [here](https://github.com/hosseinmd/prettier-plugin-jsdoc/pull/52#discussion_r570265261).

[2021-02-04 15:41] hosseinmd commented on #54
fixed: https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/13318611b9706f0b8f40c5c98172eb231243dc2c

[2021-02-04 15:41] #54 closed

[2021-02-04 16:15] #49 closed

[2021-02-04 16:51] mrvisser commented on #46
The link you posted has documentation saying that the content of `@example` is treated specially, specifically as highlighted code / pre-formatted text:

So it probably makes sense to have some exceptions to the indentation for specialized tag definitions, as opposed to unstructured that can be multi-line and be hard to discern from its peers such as `@param`, which I think is the in-editor readab

[2021-02-04 17:24] RunDevelopment commented on #46
So, what will the final answer be? ^^

@hosseinmd said, "This could be done.", but I don't know whether he was referring to "adding an option" or "2 spaces should probably be changed to `tabWidth`" or both. Could you please clarify @hosseinmd?

That's already the case right now.

[2021-02-04 17:30] mrvisser commented on #46
In my mind I had:

1. Defer to `tabWidth` for indentation level
2. Add a collection of tag names whose content are treated implicitly as pre-formatted text, thus not modified for soft-wrapping (I guess this doesn't happen, wasn't sure), but also for indentation. `@example` is in there, may there are others.

[2021-02-04 17:39] hosseinmd commented on #46
I think both is ok. we could implement both.

I don't understand exactly

[2021-02-04 17:42] hosseinmd commented on #46
Why?

[2021-02-04 18:13] mrvisser commented on #46
Because some tags are treated implicitly as preformatted text. So the indentation is not vestigial, it is actually part of the output content which is not the desired behaviour.

Because it's consistent with how users have configured prettier to indent their code.

[2021-02-04 21:42] #25 closed

[2021-02-04 21:46] hosseinmd commented on #46
IMO it is a benefit

[2021-02-04 22:34] RunDevelopment opened #58 "Incorrectly calculated print width if comment indentation changes"
Right now, the comment indentation is calculated by counting tabs and spaces in the original text. This means that the calculated indentation will only be correct if the indentation of the comment does not change.

This problem can be seen in prism-core.js. All comments gain an additional indentation level which means that the indentation will be calculated incorrectly and the print width will be

[2021-02-05 09:17] hosseinmd commented on #58
Maybe https://prettier.io/docs/en/plugins.html#printers could help

[2021-02-05 09:25] hosseinmd commented on #58
But I don't know can help, we should test

[2021-02-06 23:36] RunDevelopment opened #60 "Sort `@param` tag by the order of occurrence in function if possible"
Try to detect if the current doc comment is the comment of a function declaration/definition and sort all `@param` tags by the order of the referred to parameters in the function.

### Example

Before:
[code]

Before:
[code]

[2021-02-07 21:08] hosseinmd commented on #60
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/25244133d1aa23483b6cae2b0319f36d4223da59

Implemented:
- function
Needed to implement:
- arrow function
- Object/class methods

[2021-02-09 18:49] hosseinmd commented on #60
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/68103434ba7259144e0e6cab0c8af8463df3fc0e

[2021-02-09 23:06] #29 closed

[2021-02-09 23:07] #26 closed

[2021-02-12 12:52] RunDevelopment opened #69 "`@example` code indentation is partially removed even with `jsdocKeepUnParseAbleExampleIndent`"
If example code is indented with spaces, 2 spaces will always be removed even if `jsdocKeepUnParseAbleExampleIndent` is enabled.

This is a bug.

### Example
[Before](https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/4a9cbd2e21ba3be56862adb3e75b86c48a1e329d/tests/files/prism-core.js#L279): indented using 4 spaces
[code]

[After](https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/4a9cbd2

[2021-02-12 13:00] RunDevelopment opened #70 "Inconsistent word wrapping"
### Example:

Config: `printWidth: 80`

Before:
All paragraph lines are exactly 80 characters long
[code]

After:
[code]

[2021-02-12 13:04] RunDevelopment opened #71 "Strange behaviour if tag description starts with code block"
### Example

Before:
[code]

After:
[code]

The new empty line is unwanted.

[2021-02-12 13:15] RunDevelopment opened #72 "Leading underscores are removed from descriptions"
The leading underscores in descriptions are removed which breaks Markdown formatting.

### Example

Before:
[code]

After:
[code]

[2021-02-12 13:23] hosseinmd commented on #69
Plugin doesn't change indention just adding 2 space to beginning.
To do that we're removing previse 2 spaces and adding 2 spaces again after format example

[2021-02-12 13:25] hosseinmd commented on #69
You can't add indention, prettier doesn't allow you, indention in under prettier control, you don't have any control to indention

[2021-02-12 13:25] RunDevelopment opened #73 "`#` in text mistaken for heading"
### Example

Before:
[code]

After:
[code]

[2021-02-12 13:26] hosseinmd commented on #69
Your example isn't unparseable

[2021-02-12 13:30] RunDevelopment opened #74 "Nested list in descriptions don't work"
### Example

Before:
[code]
![image](https://user-images.githubusercontent.com/20878432/107773982-b6f76a80-6d3e-11eb-8816-99e810e28e34.png)
(Rendered with VSCode)

After:
[code]
![image](https://user-images.githubusercontent.com/20878432/107774004-bfe83c00-6d3e-11eb-8622-aa7476f9ab4e.png)

[2021-02-12 13:31] hosseinmd commented on #69
About unparse able examples you are right, that is a bug

[2021-02-12 13:35] RunDevelopment opened #75 "Empty lines are reformatted to spaces"
I'm sorry for the bad issue title but I really don't know what to call this.

### Example

Before:
[code]

After:
[code]

[2021-02-12 13:42] RunDevelopment opened #76 "`jsdocDescriptionWithDot` doesn't work for non-english words"
### Example

Here's an example with German text.

Before:
[code]

After:
[code]

No dot.

[2021-02-12 13:45] RunDevelopment commented on #69
Yes, this is an unparsable example before of the `'comment': { ... },` line. Kinda hard to see. Sorry about that.

[2021-02-12 14:32] #69 closed

[2021-02-12 15:09] RunDevelopment opened #77 "Inconsistent `@property` indentation"
### Example

Before:
[code]

After:
[code]

Some lines in `@property` are indented and some aren't.

[2021-02-12 15:14] RunDevelopment opened #78 "Many empty lines after description"
### Example

Before:
[code]

After:
[code]

[2021-02-12 15:24] RunDevelopment opened #79 "Inconsistent list item text indentation + printWidth ignored"
The text of list items can be multiple paragraphs. These paragraphs are not indented with the same number of spaces.

### Example

Before:
[code]

After:
[code]

Bugs:

1. The first line of the second paragraph of the second item is indented with one space more than the first paragraph.
2. All wrapped lines of the second paragraph are not indented at all.
3. There are several lines in the output t

[2021-02-12 15:30] RunDevelopment commented on #32
Found another example of code that isn't formatted correctly:

Before:
[code]

After:
[code]

[2021-02-12 15:35] RunDevelopment opened #80 "Lists starting with `*` are not interpreted as lists"
### Example

Before:
[code]

After:
[code]

[2021-02-12 15:37] RunDevelopment commented on #77
Same thing happens for all other formatted indented descriptions. I.e. the text of `@param` and other tags have the same problem.

[2021-02-12 15:47] RunDevelopment opened #81 "Unstable formatting result"
The formatted result changes over multiple formatting runs.

### Example 1

Example from Prism Core source code.

<details>

After run 1:
[code]

After run 2:
[code]

</details>

Stable after 2 runs.

### Example 2

Example from [Prism's dependency resolver](https://github.com/PrismJS/prism/blob/0feb266f4695810317b4f0fbafc810623df07023/dependencies.js).

<details>

After run 1:
[code]

After run 2

[2021-02-12 15:51] hosseinmd commented on #70
This is because `\n` included as content.

[2021-02-12 15:53] #70 closed

[2021-02-12 16:06] #72 closed

[2021-02-12 16:23] RunDevelopment commented on #73
@hosseinmd Please reopen. I found another example with python code:

Before:
[code]

After:
[code]

[2021-02-12 16:41] #75 closed

[2021-02-12 17:14] #76 closed

[2021-02-12 17:38] #78 closed

[2021-02-12 17:38] #77 closed

[2021-02-12 17:51] hosseinmd commented on #79
I think I could change it to dash, because star maybe  confused with comment stars. VS Code will change both to big dot.

[2021-02-12 18:08] hosseinmd commented on #32
example tag is not currect

[2021-02-12 18:08] hosseinmd commented on #32
use @example

[2021-02-12 18:16] RunDevelopment commented on #32
That doesn't matter. It's valid markdown and should be formatted correctly.

[2021-02-12 18:18] RunDevelopment commented on #79
Wrong issue. You probably meant to comment on #80.

[2021-02-12 18:18] hosseinmd opened #82 "Github actions"
This Plugin need GitHub actions for test plugin with various versions of node and prettier.
I don't know anything's about GitHub actions.

@RunDevelopment @danielpza @mrvisser @forivall

[2021-02-12 18:21] RunDevelopment commented on #82
I don't know how to do a matrix for prettier versions, but I can add one that tests for multiple NodeJS versions. Want me to make a PR?

[2021-02-12 18:23] hosseinmd commented on #82
Yes please.

[2021-02-12 19:50] #82 closed

[2021-02-12 19:53] hosseinmd commented on #80
I think I could change it to dash, because star maybe confused with comment stars. VS Code will change both to big dot.

[2021-02-12 19:54] hosseinmd commented on #80
done in https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/1a9aa026016b92348f7344ff4ba4f6d254b53106

[2021-02-12 20:02] #73 closed

[2021-02-12 20:07] #80 closed

[2021-02-12 22:23] RunDevelopment opened #85 "Git hooks are broken"
I can't commit. When I try to commit I simply get the error:

[code]

### Info

git: git version 2.27.0.windows.1
npm: 6.14.10
node: v14.15.4
OS: Microsoft Windows [Version 10.0.19042.804]

[2021-02-13 14:20] RunDevelopment opened #86 "TSDoc: Support `@example` tag"
The[ `@example` tag in TSDoc](https://tsdoc.org/pages/tags/example/) has a different semantic than in JSDoc.

[2021-02-13 14:23] RunDevelopment opened #87 "TSDoc: Support `@remarks` tag"
Support the [`@remarks`](https://tsdoc.org/pages/tags/remarks/) and [`@privateRemarks`](https://tsdoc.org/pages/tags/privateremarks/) TSDoc tags. They are similar to the JSDoc `@description` tag and require MD formatting.

[2021-02-13 14:28] RunDevelopment opened #88 "TSDoc: Support `@typeParam` tags"
The [`@typeParam` tag](https://tsdoc.org/pages/tags/typeparam/) is the TSDoc equivalent of the JSDoc `@template` tag.

They are basically equivalent but specific to TSDoc and JSDoc respectively. This plugin should __not__ treat them as synonyms. `@typeParam` and `@template` should be treated the same in all regards (e.g. tag order, grouping, and formatting).

[2021-02-13 18:49] hosseinmd commented on #86
VS Code not supported

[2021-02-13 19:24] creack opened #89 "Deconstructed params getting swapped in 0.3.10."
The following was valid with 0.3.9:

[code]

With 0.3.10, prettier now swap the order of the params, which then fails the jsdoc eslint plugin which enforces that the params should be in order.

[code]

[2021-02-13 20:50] hosseinmd commented on #89
Fixed: v0.3.11

[2021-02-13 20:50] #89 closed

[2021-02-13 21:14] RunDevelopment commented on #89
@hosseinmd Please reopen. As explained [here](https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/53370180757d32a615e9dbe8f275931b871ca540#r47094217), the current fix isn't guaranteed to work.

[2021-02-14 21:29] #85 closed

[2021-02-15 12:25] RunDevelopment commented on #86
@hosseinmd Please reopen.

Just because VSCode doesn't support TSDoc, doesn't mean that this isn't an issue. Static site generators like TypeDoc do correctly support TSDoc's `@example` tag. If this issue isn't resolved, this plugin cannot be used in combination with TypeDoc and other software that implements the TSDoc standard.

[2021-02-15 16:31] hosseinmd commented on #86
VS Code user is more than other apps. We will implement it if that doesn't break the example view in VS Code.

[2021-02-15 16:33] hosseinmd commented on #86
@example tag in tsdoc in completely different because that is Markdown but jsdoc example is code

[2021-02-15 17:15] RunDevelopment commented on #86
Then please add an option to turn off formatting the `@example` tag. Otherwise I can't use this plugin in my TS projects.

[2021-02-15 17:20] hosseinmd commented on #86
This not related to typescript, I am a typescript developer I always used typescript, there is no reason your project can't use this plugin. Could you give me what's your project config?

[2021-02-15 17:41] RunDevelopment commented on #86
Of course it is related. TSDoc is __the__ documentation standard for TS.

I already gave you the reason:

"Static site generators like TypeDoc do correctly support TSDoc's `@example` tag. If this issue isn't resolved, this plugin cannot be used in combination with TypeDoc and other software that implements the TSDoc standard."

I use TypeDoc in my projects.

---

But I also want to remind you of [

[2021-02-15 18:53] hosseinmd commented on #47
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/8d96fd710c3c492494e7e44836eb16d07acebd1c

[2021-02-15 18:53] #47 closed

[2021-02-15 20:30] RunDevelopment commented on #47
8d96fd710c3c492494e7e44836eb16d07acebd1c did not address this.

[2021-02-16 01:17] danielpza commented on #86
how does it break vscode?

[2021-02-16 01:18] danielpza commented on #86
We should at least keep it open until vscode fix it on their side. The issue is not out of the scope of the project after all.

[2021-02-18 16:27] hosseinmd commented on #87
We have a rule for formatting descriptions which is not correct. I think we should format all tags description, so we should remove `TAGS_NEED_FORMAT_DESCRIPTION`

[2021-02-18 16:35] hosseinmd commented on #87
What is ` @remarks` and `@privateRemarks ` order in tags.

[2021-02-18 17:08] RunDevelopment commented on #87
Right under `@description` would probably be best.

[2021-02-18 23:20] Dan503 opened #91 "Bold text that uses stars gets converted to a dot point"
If I have the following comment:

[code]
It should get rendered like this

However prettier converts it to this:

[code]

Which gets rendered as

[2021-02-18 23:22] Dan503 commented on #91
So far I've been working around this issue by formatting it like this:

[code]

It works but I would proffer if I could use stars for bold text rather than underscores.

[2021-02-21 20:13] #91 closed

[2021-02-21 20:14] hosseinmd commented on #91
Published in v0.3.12

[2021-02-21 20:14] #87 closed

[2021-02-21 20:36] hosseinmd commented on #46
There is two stuff.

Done.

Not solved yet

[2021-02-21 21:15] hosseinmd commented on #86
I think we could add TSDoc to options.

If set true to TSDoc we could do some work like:
 - format examples as Markdown like description
 - Remove type from tags like param (in TSDoc no need to add type)

I don't know other specific rules of TSDoc, I need help about that.
If any own agree we could do it

[2021-02-22 02:09] danielpza commented on #86
I don't know about removing the tag, I think it should keep it on TSDoc.

Is it possible to use TSDoc on javascript?, in that case if it is removed they will lose type information

[2021-02-22 06:45] 5saviahv opened #92 "eslint error message"
Changes with 0.3.12 version doesn't comply with **eslint-plugin-jsdoc**

prettier-plugin-jsdoc changes row  `* @borrows static.xml as xml`  to  `* @borrows static.xml As xml`

and it causes linting error message:
`@borrows must have an "as" expression. Found "As xml"   jsdoc/valid-types`

[2021-02-22 07:24] hosseinmd commented on #86
I found this commit https://github.com/Linux123123/JSPteroAPI/commit/9efe556cc545766ac4c40f096f2c23a4ee97d967

[2021-02-25 13:17] mnquintana opened #93 "Add option to allow formatting one-line JSDoc annotations as multi-line"
It would be really helpful to have an option to configure `prettier-plugin-jsdoc` to allow one-line JSDoc annotations as multiline, e.g.:

### Expected
[code]

### Actual

[code]

My use case is that although the current behavior is a lot more compact, it's harder to visually scan and recognize as a JSDoc comment (as opposed to just a regular ol' JS block comment) compared to the multi-line versio

[2021-02-25 16:58] #92 closed

[2021-02-25 17:56] #93 closed

[2021-02-26 17:04] #32 closed

[2021-03-04 14:06] #46 closed

[2021-03-04 14:11] hosseinmd commented on #86
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/4213aedd3b63e9dbc9e25c2b58a6e3cfcf7ede6b

[2021-03-04 14:11] #86 closed

[2021-03-06 17:13] remcohaszing opened #94 "Unexpected result if doc contains just a long link"
First of all: Great plugin! Thanks for creating this!

If the jsdoc contains just one word (text without spaces, typically a long URL), and it’s longer than the allowed print width, it’s formatted weird.

Given the following `.editorconfig`:

[code]

and the following `.prettierrc.yaml`

[code]

This is fine:

[code]

However, this:

[code]

Gets formatted to:

[code]

[2021-03-06 21:25] #94 closed

[2021-03-06 21:26] hosseinmd commented on #94
Thank you, We will publish this as soon as possible.

[2021-03-09 19:08] jasonkuhrt opened #95 "Breaks markdown tables"
Thanks for the very promising work here! Big fan :)

I noticed markdown tables are currently broken by this plugin.

Before:

![image](https://user-images.githubusercontent.com/284476/110524151-05e7b400-80e1-11eb-966c-7812197fcbaa.png)

![image](https://user-images.githubusercontent.com/284476/110524004-db95f680-80e0-11eb-8571-13a78fb48f65.png)

After:

![image](https://user-images.githubuserconte

[2021-03-23 08:52] hosseinmd commented on #95
Fixed in v0.3.14

[2021-03-23 08:52] #95 closed

[2021-03-26 12:34] hosseinmd commented on #79
Fixed in https://github.com/hosseinmd/prettier-plugin-jsdoc/pull/96

[2021-03-29 18:37] #71 closed

[2021-03-29 18:42] hosseinmd commented on #71
We're adding an empty line for readability of description. In last version we are fixed intention of tags descriptions too. your example will be formatted to this.
[code]

[2021-03-29 18:42] #79 closed

[2021-03-29 19:50] hosseinmd commented on #74
fixed

[2021-03-29 19:50] #74 closed

[2021-03-29 20:16] hosseinmd opened #97 "Unwanted empty line between tags"
before:

[code]

after:

[code]

[2021-03-29 20:26] hosseinmd commented on #88
I fixed that with you suggest, in tsdoc example @typeParam is like @param, but type of that is generic. Is it right?

[2021-03-29 21:08] RunDevelopment commented on #88
LGTM; Thank you!

[2021-03-29 21:08] #88 closed

[2021-03-30 06:44] #97 closed

[2021-03-30 06:57] #81 closed

[2021-03-31 12:45] mtrezza opened #98 "Fix empty line before list"
It seems that the change in `0.3.15` introduced an empty line before a list, which seems semantically unintuitive.

For example:

[code]

turns into:

[code]

This seems semantically unintuitive, because a list rarely stands on its own, unless it is an index or table of contents.

If a list should be more clearly separated from the rest, it should add an empty line before *and* after the list. But

[2021-03-31 13:58] hosseinmd commented on #98
An empty line before a list is a common behavior of md formatters like prettier md formatter. I have to say about empty line after list as well, you should add an empty line after list because if you don't add it formatter will merge that with last item of list

[2021-03-31 14:01] hosseinmd commented on #98
This is currently being done

[2021-03-31 16:05] mtrezza commented on #98
I don't know what the most expected MD syntax is, but let's look at two popular MD interpreters: GitHub and Visual Studio.

## Empty line before list

[code]
and
[code]
are both displayed as:

GH:

VSC:
<img width="136" alt="image" src="https://user-images.githubusercontent.com/5673677/113163506-87de7f00-9240-11eb-8ccb-85ca40d1682d.png">

Not adding an empty line before a list, would allow for com

[2021-04-01 13:57] electrovir opened #99 "Not compatible with `prettier-plugin-organize-imports`"
If I install [prettier-plugin-organize-imports ](https://www.npmjs.com/package/prettier-plugin-organize-imports) and list it after `prettier-plugin-jsdoc` in the `"plugins"` array within `.prettierrc.json`, this plugin doesn't do anything at all.

[2021-04-02 09:41] hosseinmd commented on #98
@danielpza @RunDevelopment Please suggest.

[2021-04-02 11:42] hosseinmd commented on #99
https://github.com/prettier/prettier/issues/10261

[2021-04-02 11:43] hosseinmd commented on #99
https://github.com/prettier/prettier/issues/10259

[2021-04-02 13:04] electrovir commented on #99
darn 😩
Thanks for the links. The more I use Prettier the more I realize it's a huge pain to work with :(

[2021-04-02 13:24] hosseinmd commented on #99
This link show what is the problem, I solved this bug, I am improving code to resolve this for plugins more than two, I will be done so.

[2021-04-02 18:02] mtrezza commented on #98
To quickly mention another side effect after adding an empty line:

[code]

The positioning of the list is visually incorrect. The list is now closer positioned to `@return` than to @param` even though it belongs to `@param`.

[2021-04-02 18:17] hosseinmd commented on #98
Myabe we should keep an empty line after list
for example
[code]

[2021-04-02 18:39] Remscar opened #100 "Not formatting function comments"
Hi i've been using this plugin but have found that it won't auto-format function comments for me.

For instance i'll have code like this:

[code]

But it won't indent the `@notice` to match the indentation with the rest of the comment. Can't figure out what i'm doing wrong, everything else is working properly and I see there is code in the repo for handling comments, but it just doesn't seem to be

[2021-04-02 18:48] mtrezza commented on #98
I think that would confirm the issue I mentioned previously, that prettify is behaving too much like an MD interpreter. Adding more and more empty lines to a comment section to correct visual issues is job of an interpreter I think. We are just blowing up the comment section with empty lines.

[2021-04-02 20:07] hosseinmd commented on #100
Your function has syntax error

[2021-04-02 20:12] hosseinmd commented on #98
We can't remove the empty line because of description like this:
[code]

[2021-04-02 20:18] hosseinmd commented on #99
Fixed: v0.3.18

[2021-04-02 20:18] #99 closed

[2021-04-02 20:22] hosseinmd commented on #99
prettier-plugin-organize-imports not supporting multiple parsers for typescript so add prettier-plugin-jsdoc to end of plugins list

[2021-04-02 20:44] mtrezza commented on #98
In that case maybe accept an empty line but not force one, and implement this before and after a list?

[2021-04-03 09:17] mtrezza commented on #98
Maybe the difference lies in MD vs. JSDoc syntax?

In a pure / strict MD syntax it makes sense to add an empty line before and after a list. But JSDoc has its own syntax such as tags. So an empty line after a list may not be required if the next line starts with a tag `@example`, similar to starting the next line with a MD heading `# Example`.

So similar to allowing this in MD:
[code]

would be a

[2021-04-03 13:50] electrovir commented on #99
I don't understand, what has changed?

If I list `prettier-plugin-jsdoc` last, then `prettier-plugin-jsdoc` works but `prettier-plugin-organize-imports` doesn't.
If I list `prettier-plugin-organize-imports` last then `prettier-plugin-organize-imports` works but `prettier-plugin-jsdoc` doesn't.

This is the same behavior as before the `v0.3.18` update.

[2021-04-03 17:01] hosseinmd commented on #99
prettier can't find modules, please add plugins like. this
[code]

[2021-04-03 17:12] hosseinmd commented on #98
I agree with. You just in this situation:
[code]
If the content before of the list is one line i can remove the empty line otherwise we should add the empty line again.

[code]

Is this right way?

[2021-04-03 18:37] mtrezza commented on #98
The empty line would have no effect for most if not all interpreters, I believe, the question then becomes why add it. I guess the easiest would be to say add an empty line before and after a list, in any case, just for consistency.

[2021-04-03 19:21] hosseinmd commented on #98
I mostly agree with (a), exactly because of consistently.

[2021-04-03 19:21] #100 closed

[2021-04-03 19:32] mtrezza commented on #98
I think I prefer b) because it is more compact and doesn't blow up the comment section, but either way sounds good to me

[2021-04-04 16:38] hosseinmd commented on #98
the b) was not look good in this example:
[code]

[2021-04-04 17:29] mtrezza commented on #98
Yes, now I see it too, let's go with a) then.

[2021-04-04 20:05] mtrezza opened #101 "Allow different printWidth for jsdoc"
### Suggestion

Allow to set a `printWidth` for code comments that is different from the `printWidth` that is applied to code.

JSDoc comments are of a different content than code. Both are used / read in a different way and therefore may require different formatting.

- Comments are mostly focused on prose text that requires a shorter print-width to be readable; for the same reason why a newspape

[2021-04-04 20:30] hosseinmd commented on #98
I will do it as soon as possible. Thank you for contributing.

[2021-04-04 20:42] hosseinmd commented on #101
I agree. We could use jsdocPrintWidth and printWidth if jsdocPrintWidth not defined.

[2021-04-04 21:55] mtrezza commented on #101
Sounds good!

[2021-04-05 13:10] electrovir commented on #99
Yes, this is my whole `.prettier.json` file:
[code]

And here are my dependency versions:
[code]

[2021-04-05 16:49] hosseinmd commented on #99
i tested that work for me, i think you should set plugins. then restart vscode to work

[2021-04-05 21:41] Remscar commented on #100
Sorry that my sample code had a syntax error, I have fixed it.
The bug happens whether the function has an error in it or not.

[2021-04-06 12:41] electrovir commented on #99
Ah! `>Developer: Reload Window` did it. It's working now! It's also working with the Prettier CLI.

Thank you much! 😄

[2021-04-06 22:59] aminya commented on #10
I have the same issue. Running `prettier --write .` doesn't have any effect:
https://github.com/atom-community/prettier-config-atomic/pull/2

[code]

[2021-04-06 23:10] aminya commented on #10
I fixed this by adding to my `prettier.config.js`.
[code]

[2021-04-07 06:55] hosseinmd commented on #10
You should set jsdocParser and tsdoc both true

[2021-04-07 18:55] aminya commented on #10
Yeah, that's what I find out. Could you update the docs as this was unclear?

[2021-04-07 20:07] hosseinmd commented on #10
I will do it soon.

Thank you

[2021-04-13 04:35] zhangyanwei opened #102 "Allow to breaking a line by using '\' or double spaces"
For example, the bellow jsDoc,
[code]
becomes to
[code]

Even using '\\', it also will be trimmed.
In my opinion, should keep it if the parser can recognize it.

I think it could be fixed by adding a new branch for the 'break' type at https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/b9d7cc68a6ede9e064df63b1e2612e282f87ee38/src/descriptionFormatter.ts#L220

Or it's better to make each type b

[2021-04-13 08:52] aminya opened #103 "Example tag formatting is lost in the second prettier run"
JsDoc plugin formatted my example to the following, but after the second run, it puts everything into a single line.
[code]

After the second run:
[code]

[2021-04-13 09:43] hosseinmd commented on #102
You could add dash for your case.
[code]

[2021-04-13 09:47] hosseinmd commented on #103
What's your prettier-plugin-jsdoc?
Please update to last version I tested your case on last version, it works.

[2021-04-13 09:51] aminya commented on #103
I am using the latest version. This is my configuration. Both jsdoc and tsdoc are enabled (noting that the above code was a JS file).
https://github.com/atom-community/prettier-config-atomic/blob/master/prettier.config.js

[2021-04-13 09:58] Shrugsy opened #104 "tsdoc @example tag loses indentation with backticks in the snippet"
When trying to format a code snippet located under a tsdoc `@example` tag, the indentation becomes flattened when a backtick (`) is included in the snippet.

### Example:
`.prettierrc`:
[code]

Input 1 - single quotes on `someString`:
[code]
Output 1 - shifts the whole snippet, no problem:
[code]

Input 2 - changed from single quotes to backticks:
[code]

Output 2 - indentation for the whole snipp

[2021-04-13 10:07] hosseinmd commented on #103
In tsdoc example is not code, that is a description

[code]

[2021-04-13 10:10] hosseinmd commented on #102
i will support '\' as soon as possible

[2021-04-13 10:26] hosseinmd commented on #104
What's your prettier-plugin-version?
In the latest version we changed some behavior of tsdoc example please test it.

[2021-04-13 10:38] Shrugsy commented on #104
Thanks @hosseinmd, I'm on the latest version of `prettier-plugin-jsdoc`, but you prompted me to look closer, and it turns out it was due to multiple conflicting prettier configs causing the `tsdoc` option to not be applied properly. Not a problem with the library.

Thanks for the good work 👍

[2021-04-13 10:38] #104 closed

[2021-04-15 20:46] #98 closed

[2021-04-15 21:30] #102 closed

[2021-04-15 21:50] #101 closed

[2021-04-15 22:03] #103 closed

[2021-04-19 20:57] sluukkonen opened #107 "Line breaks are inserted inside a {@link} tag"
A comment like

[code]

is formatted as

[code]

which breaks the rendering in at least Webstorm.

![kuva](https://user-images.githubusercontent.com/39655/115301953-8d0d5a80-a16a-11eb-98a5-c0661cf37c78.png)

Configuration:

[code]

[2021-04-19 22:37] danielpza commented on #107
for reference this are the docs https://jsdoc.app/tags-inline-link.html

[2021-04-22 23:33] jaydenseric commented on #107
Some other similar issues…

Markdown links in descriptions are wrapped strangely:

<img width="659" alt="Screen Shot 2021-04-23 at 9 27 06 am" src="https://user-images.githubusercontent.com/1754873/115797010-3fb51580-a416-11eb-840d-d84d107b3d49.png">

Sometimes it forces a blank space after the opening `[`:

<img width="661" alt="Screen Shot 2021-04-23 at 9 28 58 am" src="https://user-images.githu

[2021-04-23 10:12] hosseinmd commented on #107
Fixed both in [chore(release): 0.3.20](https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/176be1d874bb755411f9f0a7a6fa8d54d86699ad)

[2021-04-23 10:13] #107 closed

[2021-04-26 04:30] Aqzhyi opened #108 "unexpected new line has been added within example"
## reproduce:
1. npm i prettier-plugin-jsdoc@latest
2. VScode reload window
3. write some code

[code]

4. save
5. it's become

[code]

[video](https://user-images.githubusercontent.com/1500206/116028923-c6722880-a68a-11eb-8bb2-60d1b5d06b82.mp4)

## context

1. `node -v` v14.16.0

2. `.prettierrc.js`
[code]

[2021-04-27 13:50] Aqzhyi commented on #108
here is a case that also about with "example".

https://user-images.githubusercontent.com/1500206/116252696-65d60f00-a7a2-11eb-8996-fe4a51b990f9.mp4

[2021-04-27 14:47] hosseinmd commented on #108
i am working on it

[2021-04-27 18:01] hosseinmd commented on #108
This is not a valid JS code;

[2021-04-27 18:06] hosseinmd commented on #108
Unexpectednew line fixed version: 0.3.21

[2021-04-27 18:06] #108 closed

[2021-04-27 20:13] Aqzhyi commented on #108
This is valid JSX code from Reactjs

[2021-04-29 11:30] Aqzhyi commented on #108
@hosseinmd, do you have PayPal? I want to buy you coffee.

[2021-04-30 17:36] danielpza opened #109 "Editorconfig indent_style = tab deletes portions of @example tag"
Steps to reproduce:

[code]

[code]

After formatting with prettier:

[code]

After formatting a second time

[code]

https://user-images.githubusercontent.com/17787042/116732639-1c134180-a9b9-11eb-86a2-17ffd8669265.mp4

[2021-05-01 18:38] #109 closed

[2021-05-19 03:19] RedGuy12 opened #113 "Sperate @returns from @param"
I would really like it if there was an option to separate the @returns statement from the @param statements for readability.

#### Example
I like this:
![image](https://user-images.githubusercontent.com/61329810/118751595-348fb280-b827-11eb-9bc5-5ab5df9193cb.png)
But with this plugin, Prettier removes the newline and formats it like this:
![image](https://user-images.githubusercontent.com/61329810

[2021-05-19 07:02] hosseinmd commented on #113
I will add an option for your use case as soon as possible.

[2021-05-19 11:47] RedGuy12 commented on #113
Yay, TYSM!!
________________________________
From: Hossein Mohammadi ***@***.***>
Sent: Wednesday, May 19, 2021 2:02:49 AM
To: hosseinmd/prettier-plugin-jsdoc ***@***.***>
Cc: Paul Reid ***@***.***>; Author ***@***.***>
Subject: Re: [hosseinmd/prettier-plugin-jsdoc] Sperate @returns from @param (#113)

I will add an option for your use case as soon as possible.

—
You are receiving this because yo

[2021-06-06 23:14] RedGuy12 commented on #113
@hosseinmd Any updates?

[2021-06-10 08:09] hosseinmd commented on #113
Fixed in v0.3.23

[2021-06-10 08:09] #113 closed

[2021-06-10 08:10] hosseinmd commented on #113
`jsdocSeparateReturnsFromParam` added to options, set it true.

[2021-06-12 09:21] HunterKohler opened #118 "Option for disabling 'Default is'"
Hello, I love the project.

I was wondering what peoples' thoughts would be on having an option for disabling the `Default is` statements that are inserted.

 ## Reasoning

1. Only repetitive information is inserted. The source of the defaults are from the bracketed expression, not the function parameters. The bracketed parameters serve as a good solution. If one is preferred, there shouldn't be b

[2021-07-09 15:31] Luke-zhang-04 opened #119 "formatting @example tags when tsdoc = true is broken"
Input:
[code]

Expected:
[code]

Output:
[code]

Config:
[code]

[2021-07-09 16:28] Luke-zhang-04 commented on #119
Looks like tsdoc actually has a different grammar for examples

[2021-07-09 16:28] #119 closed

[2021-07-11 18:05] hosseinmd commented on #119
Right. Syntax is different.
https://tsdoc.org/pages/tags/example/

[2021-07-11 18:10] hosseinmd commented on #118
Good idea, I will work on it few days later. You could also create a pull request.

[2021-08-10 21:49] angeloashmore opened #120 "Separate tag groups with empty lines"
Awesome plugin! Thank you for writing and maintaining it. 🙂

Would it be possible to separate groups of `@tag`s with empty lines? This is similar to the option for adding an empty space above `@returns`, but for each group.

For example (with TSDoc)…

**Current output**:

[code]

**Desired output**:

[code]

[2021-08-11 06:29] hosseinmd commented on #120
LGTM, but unfortunately I don't have time, I will try to do it as soon as possible.

[2021-08-11 18:08] angeloashmore commented on #120
@hosseinmd Of course! I'll try to find time and maybe make a PR as well.

[2021-08-19 00:42] DAmNRelentless opened #122 "Can't activate plugin"
When adding the plugin to my prettier plugins, I get:
[code]
I tried installing it as normal dependency and as dev dependency. Both don't work.
I am using VSCode with the prettier extension but with a local installation of prettier in my workspace.
Whole log: https://pastebin.com/HfhiRanC

Prettier: 2.3.2
Plugin: 0.3.23
Prettier Extension: 8.1.0
VSCode: 1.59.0

.prettierrc:
[code]
package.json dep

[2021-08-19 02:03] RedGuy12 commented on #122
Try without the `prettier-plugin-` prefix

________________________________
From: Relentless ***@***.***>
Sent: Wednesday, August 18, 2021 7:42:53 PM
To: hosseinmd/prettier-plugin-jsdoc ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [hosseinmd/prettier-plugin-jsdoc] Can't activate plugin (#122)

When adding the plugin to my prettier plugins, I get:

["ERROR" - 02:35:57] Cannot find module 'pret

[2021-08-19 13:41] DAmNRelentless commented on #122
Doesn't work as well:
[code]
I followed the instructions from the readme but it was worth a try. Thank you though :)

[2021-08-19 15:20] hosseinmd commented on #122
Hi, you could remove plugins or change to "plugins": ["node_modules/prettier-plugin-jsdoc"],

[2021-08-19 16:54] DAmNRelentless commented on #122
If I do that I am getting
[code]
Is it because I am using TypeScript? I definitely used this plugin in the past with TypeScript and it worked.
Leaving `plugins` out of `.prettierrc` will result in no error but it's also not doing something.

The `prettier-plugin-jsdoc` folder is definitely existent in my `node_modules` folder which sits next to my `package.json` in the root directory of my project

[2021-08-19 18:35] hosseinmd commented on #122
Replace with

  "plugins": [
    "./node_modules/prettier-plugin-jsdoc"
  ],

[2021-08-19 18:36] hosseinmd commented on #122
Please produce a small project.

[2021-08-19 18:39] hosseinmd commented on #122
Please add thiss to your plugins, this should work.

"plugins": [
        "./node_modules/prettier-plugin-packagejson",
        "./node_modules/prettier-plugin-organize-imports",
        "./node_modules/prettier-plugin-jsdoc"
    ],

[2021-08-19 19:20] DAmNRelentless commented on #122
That did the trick! Thanks a lot :)

[2021-08-19 19:20] #122 closed

[2021-09-02 10:38] aaronadamsCA opened #124 "tsdoc - Don't replace @defaultValue with @default"
When I format this TypeScript code:

[code]

This plugin replaces `@defaultValue` with `@default`. [Per TSDoc docs, the correct tag is `@defaultValue`](https://tsdoc.org/pages/tags/defaultvalue/).

`.prettierrc.cjs`:

[code]

[2021-09-06 22:20] mbforbes opened #126 "Wrapping single-line (`//`) comments"
Hi there,

First off, thank you so much for making this plugin, it's working fantastic!

I'm hoping to find a solution to also wrap single-line comments (that start with `//`).

I totally understand if this is out of scope for your plugin—after all, it's explicitly about jsDoc! However, I haven't seen another plugin that does comment wrapping, so I thought it would be worth asking.

Do you think t

[2021-09-08 05:52] hosseinmd commented on #124
fixed: https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/6eabd150b1ae100b826bd2d4c2cb84f923bb1cc9
release v 0.3.24

[2021-09-08 05:52] #124 closed

[2021-09-08 05:55] hosseinmd commented on #126
Look good to me

[2021-09-08 05:58] hosseinmd commented on #126
You could start from https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/3e53f124c550821c13ea97fb449fe38778cacd7b/src/parser.ts#L54, where we detected comment is block comment
I think for doing this you could just form comments as description with this function https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/3e53f124c550821c13ea97fb449fe38778cacd7b/src/descriptionFormatter.ts#L45

[2021-09-09 23:28] mbforbes commented on #126
Awesome, many thanks! I will have a go at this soon™️ 😂

[2021-09-09 23:40] mbforbes opened #128 "How to use in browser?"
Apologies for the second question 😅

I'm hoping to run this plugin in the browser, but I'm not sure how to do that.

Following [Prettier's Browser guide](https://prettier.io/docs/en/browser.html), I'm able to run plugins that prettier has hosted, like the TypeScript one:

[code]

However, I'm not sure how to run this plugin, which doesn't have an all-in-one file exported. I checked out what was in

[2021-09-23 23:03] hosseinmd commented on #128
Hi, I think that could be done with typescript, I will do it as soon as possible

[2021-09-25 16:28] mbforbes commented on #128
Ahh, amazing, thank you so much! 🙏

[2021-09-30 12:08] fb55 opened #131 "Block quotes are removed"
[code]

turns into

[code]

[2021-10-02 09:47] hosseinmd commented on #131
i will do it soon, if you like to do it you could start from this file https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/master/src/descriptionFormatter.ts

[2021-10-18 21:53] danielpza opened #132 "Using this plugin with @trivago/prettier-plugin-sort-imports doesn't work"
Installing this plugin and https://github.com/trivago/prettier-plugin-sort-imports makes the jsdoc plugin stop working, while prettier and the other work as expected:

[code]

[code]

[2021-10-19 13:37] danielpza commented on #132
Yeah it worked, thanks :sweat_smile:. Do you think it's worth to mention it in the readme?

[2021-10-19 13:37] #132 closed, assigned to nobody

[2021-11-04 20:53] G-Rath opened #135 "Consider keeping `@type` comments single-line if possible"
Currently with `jsdocSingleLineComment` set to `false`, this:

[code]

Becomes

[code]

Personally, I like having multi-line jsdoc comments for "documentation" comments aka generally anytime it has more than a sole `@` tag; I'm less fussed about things like `@private` as they're typically on methods which should be documented anyway, but `@types` is very common when working in javascript codebases

[2021-11-04 20:56] RedGuy12 commented on #135
jsdocSingleLineComment: true will make it multiline only if it has more than one tag, or if it exceeds the max line length.

[2021-11-05 08:05] jaydenseric opened #136 "Strips markdown links from start of JSDoc tag descriptions"
If you have a tag like this:

[code]

After the first fix, it becomes this:

[code]

Then after a second fix, it becomes this:

[code]

It is legitimate to start a JSDoc tag description with a markdown link, and there are many examples of this in real world code. This Prettier plugin shouldn't delete them.

[2021-11-05 09:45] hosseinmd commented on #136
Fixed in v0.3.26
https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/master/CHANGELOG.md#0326-2021-11-05

[2021-11-05 10:34] #136 closed

[2021-11-05 10:49] jaydenseric opened #137 "Description markdown code blocks labeled `jsx` don't get formatted"
In `demo.mjs`, if you have this content:

[code]

After formatting the content formats to this:

[code]

As you can see, the JSDoc description markdown code block labeled `js` gets formatted but the one labeled `jsx` doesn’t.

If you try that same markdown in a `demo.md` file, after formatting both the `js` and `jsx` labeled code blocks are correctly formatted by Prettier, proving that this Pretti

[2021-11-05 11:00] jaydenseric commented on #137
Is it to do with this code missing a few entries?

https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/5474d66c7b8b8117d6a2acfa34fcee0d32c2059e/src/descriptionFormatter.ts#L15-L21

There are actually a lot of other code block labels like `css` that are not supported by this plugin yet, but supported by normal Prettier in markdown.

[2021-11-05 11:07] hosseinmd commented on #137
Yes that is here.

[2021-11-05 11:13] jaydenseric commented on #137
Is there a reason Prettier can't be used to format the whole descriptions as if they are markdown, and let prettier handle the formatting of the bullet lists, code blocks etc. itself however it normally does?

[2021-11-05 11:27] hosseinmd commented on #137
We tested before but did not get the right result.

[2021-11-05 15:07] hosseinmd commented on #137
fixed v0.3.27
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/67274804347e6c19b624c4b6ab125d818a7acf2b

[2021-11-05 15:10] hosseinmd commented on #135
set jsdocSingleLineComment to true will solve your issue

[2021-11-05 16:10] #120 closed

[2021-11-05 16:23] #137 closed

[2021-11-05 17:08] G-Rath commented on #135
@hosseinmd that won't solve my issue:

That's why I have it set to `false`, because of #93.

[2021-11-05 17:12] hosseinmd commented on #118
Released v0.3.29

[2021-11-05 17:12] #118 closed

[2021-11-05 17:20] hosseinmd commented on #135
#93 closed becuase of this commit https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/f755db1e72af75685fbb997d2ef1fe346e8092ee

Give me a solotion for your request.

[2021-11-05 18:20] G-Rath commented on #135
That's the high-level solution, maybe with an exclude for `@description` since that'd include what #93 was about.

So it'd look like:

[code]

I'm wondering if it might be worth supporting this as an option that takes an array that represents the tags to allow being single-line, with the default being `@type` 🤔

I'm happy to have a go at making a PR implementing this either as it's own new option,

[2021-11-05 21:06] hosseinmd commented on #135
PR is welcome

[2021-11-05 21:25] angeloashmore commented on #120
That's great, thank you @hosseinmd!

[2021-11-05 23:40] jaydenseric commented on #137
@hosseinmd thanks for the speedy fixes, you're doing a champion job 🙌

[2021-12-05 02:26] G-Rath opened #142 "Consider using underlines for italics instead of stars to be consistent with prettier's markdown formatting"
It didn't really click until today, but currently this plugin converts `_words_` into `*words*` - personally I'm not too fussed by that, except Prettier does the opposite in it's markdown formatter (I think to make it more distinctive vs bold) and I feel like it would be good to be consistent since jsdoc comments are often treated as markdown (at least for formatting).

afaik both `_words_` & `*wo

[2021-12-05 10:26] hosseinmd commented on #142
We just could apply one of that, if you think _words_ is better, Please PR that.

[2022-01-16 23:01] Dan503 opened #143 "Unwanted capitalisation"
When I write this:

[code]

I get unwanted capitalisation in the `@default` tag. It says "Are **You** sure?" instead of "Are **you** sure?"

[code]

[2022-01-17 03:09] RedGuy12 commented on #143
Yes, I also find this plugin to format `/** @file A file description */` as `/** @file A File description */`

[2022-01-17 06:44] RishiKumarRay commented on #143
So we have to just capitalise the y? to solve the bug

[2022-01-17 07:13] Dan503 commented on #143
No the issue is that it is forcing a capital letter where there shouldn't be one.

Correct English is:
"Are you sure?"

The bug is that it is forcing incorrect capitalisation on the 2nd word
"Are You sure?"

[2022-01-17 07:17] Dan503 commented on #143
I want it to just let me handle my own capitalisation of words in this situation.

[2022-01-17 20:11] hosseinmd commented on #143
This module recognized `are` is default value and others are description, this is reason of capitalizing 2nd word.

[2022-01-17 21:14] Dan503 commented on #143
Can the capitalising of the first letter of the description feature just be removed from this plugin then?

I don't see it as an essential feature and I get the feeling that the code needed to know if it should or should not apply capitalisation would be super complicated and bug prone.

[2022-01-17 22:18] hosseinmd commented on #143
Maybe we should do this with a configuration and set the default to false.

[2022-01-17 22:18] hosseinmd commented on #143
false mean: do not capitalize

[2022-01-17 22:32] Dan503 commented on #143
It could be called `descriptionCapitalisation`

... might be a bit wordy though at least it's clear.

`desCaps` is shorter but less clear

[2022-01-18 21:32] Dan503 commented on #143
There is one thing that the plugin can do here to prevent some unwanted capitalisation.

[code]

I have quote marks around the text here. The plugin should be able to recognize that the full text inside the quote marks is the value and the text after the quote marks is the description.

[code]

So I think the bug here is that it shouldn't capitalise text inside `'single quote'`, `"double quote"`,

[2022-01-19 13:04] Dan503 commented on #143
Can you reopen the issue?

The quote marks issue stated in my previous comment is a valid bug.

[2022-01-20 01:00] Dan503 commented on #143
I tried setting this in my prettierrc file and it didn't work :(

[code]

[code]

[2022-02-09 05:54] beark opened #144 "Unspecified or unrecognized code blocks should be left as they are"
Or there should be some other way of indicating I don't want them formatted. Additionally, I get some _very_ weird results when trying to illustrate a thing with some ASCII-art in aforementioned code block.

Example input:
[code]
Output:
[code]
No idea what that's even _trying_ to do!

[2022-02-09 07:37] hosseinmd commented on #144
Plugin thing that is a table but can't format it completely because that wasn't correct table format. This is a bug in recognizing tables.

[2022-02-15 06:56] #144 closed

[2022-02-20 12:38] #142 closed

[2022-02-25 17:30] hosseinmd commented on #143
Default tag has optional value if you want to declare value, you should keep it in `{here}` for example
[code]

[2022-02-25 17:34] hosseinmd commented on #143
This is not supported by vs code.

[2022-02-25 17:36] hosseinmd commented on #143
If you have an object as default value, how you can add it to jsdoc?

[2022-02-25 23:56] Dan503 commented on #143
Objects are painful in jsDoc.

[code]

[2022-02-27 08:36] Sxxov opened #148 "Line breaks are inserted inside {@linkcode} & {@linkplain} tags"
This is the same issue as #107, just with `@link` synonyms. These synonyms are documented [here](https://jsdoc.app/tags-inline-link.html).

[2022-02-27 19:18] hosseinmd opened #150 "Update to new ESM version of `mdast-util-from-markdown`"
Discussion started from https://github.com/hosseinmd/prettier-plugin-jsdoc/pull/147

[2022-02-27 19:20] hosseinmd commented on #150
@G-Rath

[2022-02-27 21:41] #148 closed

[2022-03-10 21:36] JacobZwang opened #151 "Svelte support"
Would it be possible to get this to work in svelte files? I don't know enough about how prettier extensions work to know if this would be as easy as adding a file type or much more complex. Thanks!

[2022-03-12 06:38] hosseinmd commented on #151
What is your plugin for svelte files? Is it `prettier-plugin-svelte`?

[2022-03-21 08:28] hosseinmd commented on #150
I tested `esm `, but it doesn't work.

[2022-03-23 07:52] Sxxov opened #152 "Backslashes are incorrectly removed"
When escaping backslashes (`\\`), `prettier-plugin-jsdoc` will incorrectly remove every backslash that precedes a non-escapable character.

### Escaping multiple backslashes together

#### Input

[code]

#### Expected

[code]

#### Actual

[code]

### Escaping backslashes before unescapable character

#### Input

[code]

#### Expected

[code]

#### Actual

[code]

[2022-03-23 23:18] turadg opened #153 "Breaks Google Closure type "optional" return type"
[TypeScript supports the Google Closure style in JSDoc](https://www.typescriptlang.org/docs/handbook/jsdoc-supported-types.html#param-and-returns) to indicate a param is optional:
[code]

This formatter converts the former to the latter,
[code]

That's fine because it means the same thing. The problem is it also does this for return types:
[code]
becomes
[code]

That changes the type of the return

[2022-03-24 08:55] hosseinmd commented on #153
We could fix it, but I think that could be more cool if you change it to `/** @returns {string | undefined} */`

[2022-03-24 08:57] hosseinmd commented on #153
Maybe this parser should do it too.

[2022-03-24 09:49] hosseinmd commented on #152
I added to comments to tests
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/33afeb7f9605f061647abf617a6ded4d14ae1bc2

[2022-03-24 09:56] hosseinmd commented on #143
https://jsdoc.app/tags-default.html this is jsdoc default tag documention, there is no description

[2022-03-24 09:58] hosseinmd commented on #143
In the other hand, VS Code rendering default value like example.

[2022-03-24 10:12] hosseinmd commented on #143
I fixed this

[2022-03-24 10:28] dummdidumm commented on #151
A little bit of context about what a Svelte file is:

A Svelte file follows the "Single File Components"-principle (script/style/html in one file) and mostly looks like regular HTML, with some additional micro syntax on top. The JS/TS code goes into a `script` tag. Example:

[code]

I don't know how this plugin works, but maybe you can do a regex-based search for the `<script>` tag, extract its co

[2022-03-24 10:56] hosseinmd commented on #151
For other language, this plugin first running original parser and getting an AST object of parsed string, then replacing comment part of them. With formatted comment and  in the end returning it to prettier. The main question is: is svelte plugin parser parsing an AST of string?

[2022-03-24 11:21] dummdidumm commented on #151
The Svelte parser does return a Svelte AST, but before parsing it it blanks the contents of the script and css tags, so the AST only contains the HTML part. This is done because the Svelte parser does not handle languages like TypeScript or SCSS, it would throw an error if it came across them. The original text is inside `options.originalText`, this is the code for preprocessing (which does the sc

[2022-03-24 13:55] hosseinmd commented on #131
Fixed

[2022-03-24 14:15] #131 closed

[2022-03-24 14:26] turadg opened #155 "Indented block formatting not stable"
# Bug description
A code block like this is stable,
[code]

But when the code block's syntax isn't specified, the tool changes to indentation syntax, which is not stable.

# Actual
<details open>
<summary>Example</summary>

Pass 0:
[code]

Pass 1:
[code]

Pass 2:
[code]

Pass 3:
[code]

Pass 4:
[code]

Pass 5:
[code]

Pass 6:
[code]

Pass 7:
[code]
</details>

# Expected

- Indented blocks aren't

[2022-03-24 15:10] Sxxov commented on #152
@hosseinmd oof! [i've managed to get a repro working](https://github.com/Sxxov/prettier-plugin-jsdoc--backslash-repro).

`npx prettier index.js -w` will produce:
[code]

`npx eslint index.js --fix` will produce:
[code]

versions from `package.json`:
[code]

[2022-03-25 07:14] hosseinmd commented on #128
V0.3.32 released, check it.

[2022-03-25 07:31] #153 closed

[2022-03-25 07:31] hosseinmd commented on #153
Fixed V0.3.32

[2022-03-25 07:35] hosseinmd commented on #143
Fixed V0.3.33

[2022-03-25 07:35] #143 closed

[2022-03-25 11:34] hosseinmd commented on #150
I work on this, but I can't get success. I think we could move to `remark-parser` https://github.com/remarkjs/remark/tree/main. What do you think about movement to this package?

[2022-03-25 14:45] turadg opened #156 "Keep prose that applies to the whole block at the block level"
In our codebase, we have a large number of [@typedef](https://jsdoc.app/tags-typedef.html) and [@callback](https://jsdoc.app/tags-callback.html). Per JSDoc examples (linked) we keep the prose fully to the left:

For example,
[code]

However because we have the prose beneath the tags they qualify, in version 0.3.32 these are reformatting to:
[code]

Moving the text to start on the line makes a lot

[2022-03-25 16:43] mbforbes commented on #128
Oh wow, awesome, I will check it! Thank you!

[2022-03-25 18:41] hosseinmd commented on #156
You can use `jsdocSeparateTagGroups` to add an empty line between @property and @typedef or @callback.

[2022-03-25 18:43] hosseinmd commented on #156
But for consistency, it's applying everywhere.

[2022-03-25 18:49] hosseinmd commented on #150
It seems that we will never succeed until this is done
https://github.com/prettier/prettier/issues/8772

[2022-03-25 20:58] JacobZwang commented on #151
Oops, sorry didn't see this response until now. Thanks for being so on top of things! Yes, that's what I'm using. Unfortunately, I'm not an expert in either the prettier or svelte internals so I can't be of much help here.

[2022-03-25 22:10] hosseinmd commented on #155
Use intention instead of backtick, when you're wrapping with backtick, plugin assume this is code and formatting them as code. Add four space as intention like this

[code]

[2022-03-26 01:29] turadg opened #157 "Ability to selectively disable / enable in IDE"
I'm trying to adopt this in a monorepo one package at a time. The [docs say](https://github.com/hosseinmd/prettier-plugin-jsdoc#config) that to "ignore some type of files remove "prettier-plugin-jsdoc" from plugins or add empty plugins".

I've tried both and Prettier's autoloader still enables it. For example, with this minimal config it still runs this jsdoc plugin,
[code]

I wonder if that advic

[2022-03-26 08:46] hosseinmd commented on #156
Add option for this case seems good.

[2022-03-26 08:57] hosseinmd commented on #157
This seems to be a prettier bug. However, for solving this, you can add on documented option `jsdocParser:false` to prettier config

[2022-03-26 14:57] turadg commented on #157
That'd be great! However it doesn't appear to be working (at least with Prettier 2.6.0).

With this `testfile.js`:
[code]

This config:
[code]
Yields for `prettier testfile.js`
[code]

Doing a little debugging, the `jsdocParser` option is never included in the `options` dictionary in the `maybeOptions` [passed into getParser](https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/33afeb7f9605f061

[2022-03-29 01:31] turadg commented on #155
I think what you're advising is exactly what's in Pass 1. Notice that on the next format it moves and on each format it moves again. ie not stable

[2022-03-30 06:03] Dan503 opened #158 "Markdown links are being removed"
I recently upgraded from `v0.3.12` to `v0.3.33`.

In one of the versions after `v0.3.12` it has started removing the markdown links in my [Type-Doc](https://typedoc.org/guides/doccomments/) comments :(

**Input**

[code]

**Output** (Unwanted removal of link markdown)

[code]

The output should be retaining the markdown link.

[2022-03-30 06:25] Dan503 opened #159 "`@default []` turns into `@default`"
**Input**

[code]

**Output** (unwanted change to `@default` value)

[code]

[2022-03-30 07:11] Dan503 commented on #159
This problem also exists for `{}`

**Input**

[code]

**Output** (unwanted change to `@default` value)

[code]

[2022-03-30 17:15] hosseinmd commented on #159
Unfortunately, jsdoc don't support array or object https://jsdoc.app/tags-default.html .
This is a big problem I can't know how we could solve this, if we solve this it means we changed jsdoc standard

[2022-03-30 17:26] hosseinmd commented on #158
That comment isn't md standard.
Change your comment to this

[code]

[2022-03-30 17:59] hosseinmd commented on #157
Fixed v0.3.34

[2022-03-30 17:59] #157 closed

[2022-03-30 19:08] turadg commented on #156
I'm pretty confident that head tags are the only ones you'd want to start from the next line, so I'm good with #1. I'd even suggest the the default be to exclude them from indentation and let users opt into indenting if they want. (Though I don't know why they would want to.)

I could be wrong though and there are other cases to consider. In that case #2 gives the most flexibility. But if chosen t

[2022-03-30 19:57] hosseinmd commented on #126
We should never do this.

[2022-03-30 19:57] #126 closed

[2022-03-30 19:59] hosseinmd commented on #60
I think this is enough for this feature. We can continue to improve this if requested. Thank you for your help.

[2022-03-30 19:59] #60 closed

[2022-03-30 20:06] #58 closed

[2022-03-30 21:41] Dan503 commented on #158
Are you sure?

Your syntax appears to be the non-standard one to me.

https://www.markdownguide.org/basic-syntax/#reference-style-links

Or if there is a flavour of markdown that works with your style, you should support this style.

[2022-03-30 22:10] Dan503 commented on #159
The documentation in JS Doc doesn't have specific examples on how to handle objects or arrays as default values.

It says this is the syntax

[code]

Which suggests that maybe it wants arrays and objects to look like this:

[code]

I **really** don't like that syntax though. It looks like an array of arrays/objects.

Can this plugin just not delete `[]` and `{}` in an `@default` tag please?

[2022-03-30 22:19] turadg commented on #155
Here's a failing case in 0.3.34:
[code]

[2022-03-30 22:45] hosseinmd commented on #158
GitHub's comment is markdown test your link

[2022-03-30 22:48] hosseinmd commented on #158
It is hard to support `Reference-style Links`. But I will work on it.

[2022-03-30 23:51] Dan503 commented on #158
This is a [test link][1] to test it works in GitHub

[code]

[1]: https://www.google.com/

[2022-03-31 07:14] hosseinmd commented on #158
Ok,
That is  a `[test link](https://www.google.com/)`  to test it works in GitHub

is correct, and work in GitHub but
This is a `[test link][1]` to test it works in GitHub
not working

[2022-03-31 07:59] Dan503 commented on #158
My comment here proves that it is accepted by GitHub.

https://github.com/hosseinmd/prettier-plugin-jsdoc/issues/158#issuecomment-1083796423

It is a reference-link-only syntax. `[test link][1]` on it's own doesn't work without a reference.

If you copy the sample text I posted in that comment you will see that GitHub does understand it.

[2022-03-31 19:16] #150 closed

[2022-03-31 20:20] hosseinmd commented on #150
Thank you.
I found a temporary solution for this until prettier move to ESM.

[2022-03-31 20:32] hosseinmd commented on #158
Fixed: v0.3.35

Thank you.

[2022-03-31 20:32] #158 closed

[2022-04-01 06:47] Dan503 commented on #158
I installed v0.3.35 into my project. it seems like `@param` might be breaking it.

**input**

[code]

**current output**

[code]

**expected output**

[code]

[2022-04-01 06:59] Dan503 commented on #158
I installed v0.3.35 into my project.

It isn't quite providing the correct output.

**input**

[code]

**current output**

[code]

**expected output**

[code]

Notice that it is adding square brackets around the URL.

Also every time you save, it adds more and more brackets.

[code]

There shouldn't be any brackets, the brackets are breaking the link.

**HOWEVER**

When I hover over the generated

[2022-04-01 09:45] hosseinmd commented on #158
Fixed v0.3.36

[2022-04-01 21:33] Dan503 commented on #159
If I made a PR to fix this issue, would you accept it?

Since this is just a code formatting plugin, I don’t see choosing not to delete something as going against JS Doc standard.

This isn't trying to transform valid JS Doc syntax into non-valid JS Doc syntax. This is just ignoring something the author is trying to write as valid syntax.

The plugin is overreaching at the moment trying to format

[2022-04-04 05:39] hosseinmd commented on #159
Yes. Please PR.

[2022-04-04 11:26] Dan503 commented on #159
I'm struggling a bit with figuring out where the in the code it deletes the `[]` and `{}` from `@default` :(

[2022-04-05 05:23] hosseinmd commented on #159
We used `comment-parser` and it has a problem with this and your type deleted by it. Maybe we should move issue to comment-parser

[2022-04-05 06:00] Dan503 commented on #159
Maybe though this is a good work around in the mean time.

[2022-04-05 18:51] unicornware opened #161 "Feature Request: Make tag sorting optional"
## Description

I'm attempting to integrate this plugin into my workflow, but I'm finding that the plugin automatically sorts jsdoc tags.

I already take the time to order my tags **_exactly_** the way I want them, so I do **not** want the plugin altering my order.

## Example

[code]

becomes

[code]

The plugin has dramatically changed the ordering of my tags (and even threw in some unwanted for

[2022-04-05 20:11] unicornware opened #162 "Feature Request: eslint & eslint-plugin-jsdoc integration"
## Description

I'm attempting to integrate this plugin into my workflow, but it doesn't seem the plugin is integrated with [`eslint-plugin-jsdoc`][1], nor [eslint][2] itself.

Specifically, the lack of support for the [`tagNamePreference`][3] setting in [`eslint-plugin-jsdoc`][1] results in faulty errors regarding tags.

I'm not entirely sure, but I also suspect that the lack of integration with

[2022-04-06 19:18] beark opened #163 "`value` inserted before imported variables"
Input:
[code]

Output:
[code]

Expected:
[code]

I don't think this plugin should affect imports at all, not quite sure what's going on here.

Tested on 0.3.36 with following config:
[code]
Works as expected if I roll back to 0.3.31, haven't tried any of the versions in-between.

[2022-04-07 07:13] hosseinmd commented on #162
My suggestion is, don't use `eslint-plugin-jsdoc` and `prettier-plugin-jsdoc` both.

[2022-04-07 07:15] hosseinmd commented on #163
Could you give me your file whole code

[2022-04-07 13:48] unicornware commented on #162
@hosseinmd

given #161, i’ve already removed the prettier plugin.
that’s not _really_ a solution in my book, however, nor does it sound like it be one for folks **_already_** not using `eslint-plugin-jsdoc`.

[2022-04-07 15:03] hosseinmd commented on #162
This is our synonyms https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/4c0b2f6fead8911f0f316361af426087d346ea66/src/roles.ts#L48

[2022-04-07 15:09] unicornware commented on #162
@hosseinmd

if this is the case, it doesn't make sense to me why this plugin doesn't work with `eslint-plugin-jsdoc`, which makes this seem like more of a bug.

how does this library determine a tag is valid? are the keys of `TAGS_SYNONYMS` included in that validation?

[2022-04-08 09:34] hosseinmd commented on #162
The main aim of synonyms is creating a standard for tags name, I don't want to create option for this, you should move to this standard because of consistency between packages. Maybe these synonyms don't have a reason, but used in many packages, we want to have a consistency between packages.

[2022-04-08 09:56] hosseinmd commented on #161
We should add it to options, but I don't know how, because there are many tags, maybe developer doesn't want to add all of them to options

[2022-04-08 10:15] hosseinmd commented on #161
I like to make a built-in standard sort, I don't find anything about that, but this is for javadoc https://www.oracle.com/technical-resources/articles/java/javadoc-tool.html#orderoftags

[2022-04-08 10:32] hosseinmd commented on #161
This is an example of phpDoc https://developer.wordpress.org/coding-standards/inline-documentation-standards/php/#1-functions-class-methods

[2022-04-08 18:54] beark commented on #163
The example input was my entire file. Or could the output depend on more things than just the configuration and the file being formatted (eg, the contents of the file being imported above)?

[2022-04-09 05:44] hosseinmd commented on #163
I added a test, but that was work correctly
https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/cb91a5cae01927f2e935aea82b78f4ec09412300

Could you reproduce it in codesandbox

[2022-04-10 04:30] Dan503 commented on #163
I've had this issue as well.

I haven't been able to replicate it in the tests either. I can also confirm that rolling back to a previous version fixes the issue.

It's a very strange bug. I'm wondering if maybe there is a version conflict somewhere. Possibly different versions of prettier are installed or something. I'm not sure what is causing this yet.

[2022-04-10 07:02] hosseinmd commented on #163
On cicd tests running with various version of prettier. All tests passed. Do you have another prettier plugin or ESLint plugin?

[2022-04-10 12:31] Dan503 commented on #163
Once my [`@default` PR](https://github.com/hosseinmd/prettier-plugin-jsdoc/pull/160) goes through I'll investigate this more thoroughly.

This issue is preventing me from updating to the latest version.

[2022-04-11 11:23] Dan503 commented on #163
Ok the issue was introduced in **v0.3.35**

v0.3.34 - Did **not** have this issue
v0.3.35 - **Did** have this issue

[2022-04-11 11:35] hosseinmd commented on #159
Fixed  v0.3.38

[2022-04-11 11:52] Dan503 commented on #163
**Updating to Prettier v2.6.2 fixes the issue!**

The project that had the issue was running prettier v2.2.1 and had no other prettier plugins installed.

I have installed the latest version of prettier and it seems to have fixed the issue for me.

---
PS. In v0.3.35 `src/index.ts` `jsdocParser` version was updated I think. That might have had something to do with the issue. Not sure.

![image](ht

[2022-04-11 23:33] Dan503 commented on #163
@beark if updating to prettier v2.6.2 fixes the issue then this issue can probably be closed.

[2022-04-14 18:42] beark commented on #163
That does seem to fix things, yes!

[2022-04-14 18:42] #163 closed

[2022-05-18 20:23] egilll opened #166 "Proposal: Balanced lines with TeX's line wrapping algorithm"
Hi. At [github.com/egilll/prettier-plugin-jsdoc-balanced](https://github.com/egilll/prettier-plugin-jsdoc-balanced) I've made the plugin use TeX's line wrapping algorithm, which results in more balanced paragraphs.

Current line wrapping:

[code]

With TeX's line wrapping:

[code]

I find the output to be much more aesthetically pleasing, and wanted to ask whether you'd be interested in a pull req

[2022-05-19 09:31] hosseinmd commented on #166
I like it, but maybe someone doesn't. Could you add an option to disable it? Please PR.

[2022-05-24 18:00] beark opened #167 "In tsdoc mode, various characters that tsdoc wants escaped are unescaped"
The issue here is the interplay of using `eslint-plugin-tsdoc` together with `prettier-plugin-jsdoc`.

Example:
[code]
Here, tsdoc will complain that

So, then I change it to
[code]
But then prettier-plugin-jsdoc strips the backslash and I'm back to the original, which the tsdoc lint doesn't like!

Same pattern happens with, eg
[code]
Where tsdoc wants me to escape the "@", and prettier-plugin-jsd

[2022-05-24 18:01] beark commented on #167
My suggestion, when `prettier-plugin-jsdoc` is configured with `tsdoc: true`, backslashes should not be stripped from `@`, `>`, and `<` (those are the triggering characters I've found so far).

[2022-06-02 16:02] wardellbagby commented on #163
Hey, just wanted to pop in and say I ran into this as well and I _think_ I have some more information.

So I was running Prettier as an ESLint plugin as well as running Prettier in WebStorm.

When I ran Prettier via its own CLI or via ESLint, the `value` wouldn't be added to the import. However, running Prettier via the IDE _would_ show this issue.

An IDE restart fixed it for me.

This [StackOver

[2022-06-17 17:36] vincerubinetti commented on #122
This was the syntax that worked for me. Probably should put this in the readme.

[code]

[2022-06-17 17:47] vincerubinetti opened #168 "Line breaking happening at 96 print width?"
Not sure if this is related to #8 ?

95 characters:

<img width="1130" alt="image" src="https://user-images.githubusercontent.com/8326331/174350959-305682db-59a5-4a92-871b-5e24b67f47f7.png">

96 characters:

<img width="1120" alt="image" src="https://user-images.githubusercontent.com/8326331/174351088-3da20d62-e90d-4bd1-a0fc-46f8361869a6.png">

I'd expect it to wrap such that no characters (includ

[2022-07-24 07:11] egilll commented on #166
Thank you, I'm still working out some kinks in my implementation but will PR when it's ready, closing in the meantime.

[2022-07-24 07:11] #166 closed

[2022-08-08 13:14] ahmafi commented on #168
I have a problem related to `printWidth` since it might be related to the same problem, I'll post it here for now. I get line break on 90-91 characters, but I have the default setting which is 80 characters. I have no other special options. I don't have this problem on the same line of the tag definition (line 8 and 10 in the image below).

![image](https://user-images.githubusercontent.com/125601

[2022-08-08 14:42] vincerubinetti commented on #168
Does anyone know who the main maintainer(s) of this are? @hosseinmd? Any info about this? I don't know about others, but this line-wrapping is like the main point of using this extension at all, so it's not good that it doesn't work as expected.

I'd be happy to look into doing a PR for this. https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/770e213f3cbf30f4dba0449fb2953c08a05a5bd7 seems t

[2022-08-08 15:24] vincerubinetti commented on #168
Something I just realized is that this bug seems to only happen if it's the last line of a comment:

<img width="966" alt="image" src="https://user-images.githubusercontent.com/8326331/183454004-bceeb8a5-f207-4113-accd-966600823c0e.png">

[2022-08-08 15:44] vincerubinetti commented on #168
Okay, according to this comment, I guess this was actually a feature:

https://github.com/hosseinmd/prettier-plugin-jsdoc/issues/26#issuecomment-771823206

I was going to say that this was a weird error in judgement. I don't know of any word processor that tries to "smart" wrap like this. MS Word doesn't do it. VSCode's word wrap doesn't do it. Etc.

However, apparently Prettier does sort of do it

[2022-08-08 15:53] ahmafi commented on #168
I don't like this feature too, I prefer a new line even if it's only 1 word on the new line, so I have more consistency in my line widths. But since this is implemented and some people want this, maybe we can turn this into an option that can be configured.

[2022-08-08 23:54] chrisui opened #171 "Typescript 4.7 syntax error on Instantiation Expressions"
## Repro

https://github.com/chrisui/prettier-repros

[code]

[code]

_See original bug report in prettier/prettier https://github.com/prettier/prettier/issues/13225_

[2022-08-11 14:41] hosseinmd commented on #171
This is not

[2022-08-11 14:41] #171 closed

[2022-08-11 14:55] hosseinmd commented on #168
We need a paragraph balancer algorithm. Something which can keep lines smaller than print width, But about the same size

For Example:
[code]
Should be:
[code]

[2022-08-11 14:59] vincerubinetti commented on #168
Why? Does Prettier do this with prose? It certainly doesn't seem to do it with code. I think this is over-complicating it. I, and I think a lot of others, will just want dead simple line wrapping. Go line by line and start a new line the very second a line goes over the print width. Is it possible to get an option for this?

[2022-08-11 15:03] hosseinmd commented on #168
Option for what?

[2022-08-11 15:05] hosseinmd commented on #168
There is a package which @egill suggested https://github.com/nginz/fair-lines .

[2022-08-11 15:09] vincerubinetti commented on #168
I'm saying, please just make it like this, or give us an option for this 👇

This is unnecessary 👇

[2022-08-11 15:11] hosseinmd commented on #168
what about this
[code]

[2022-08-11 15:22] egilll commented on #168
I have a fix for this issue (along with several other line-wrapping bugs) in a fork I've been working on, I'll try to submit it within 2 weeks.

[2022-08-11 15:24] vincerubinetti commented on #168
Yes, that is fine, to me.

I understand the issue completely. I just want simple word wrapping, like most word processors do:

![Screen Recording 2022-08-11 at 11 17 10 AM (2)](https://user-images.githubusercontent.com/8326331/184169773-8dbea3d9-9926-4f2c-87a3-599625bd4018.gif)

I am willing to bet most other people are just looking for this too. I dont see a reason to make it so complicated with

[2022-08-11 15:25] hosseinmd commented on #168
Could you create a Quick PR just for this.

[2022-08-11 15:27] hosseinmd commented on #168
Ok. I Will do it as you want this weekend.

[2022-08-11 15:42] vincerubinetti commented on #168
I'm sorry for being forceful. I'm guess I'm used to library developers making a baffling decision (in my opinion) and refusing to even consider changing it. But you are not like that. Thank you.

I am working on a PR now for this change. I'll also tag @egilll in it so that we can coordinate our fixes. I'm not familiar with this code base, so it might be a bad PR, but I should at least create a sta

[2022-08-19 09:15] chrisui commented on #171
@hosseinmd Can we please re-open this? I've shown in the linked repro and issue that the issue only occurs when this plugin is used.

What is the issue if it is not this plugin?

[2022-08-21 19:49] hosseinmd commented on #171
You have syntax error.
"ok" and "error" are function, they aren't type, we could add generic to function just when calling them, but for your use case change your code to this

[code]

[2022-08-22 05:28] hosseinmd commented on #168
Released v0.4.1

[2022-08-22 07:53] giltayar opened #173 "Workaround for `mdast-util-from-markdown` not working?"
While upgrading to the latest version of this plugin (`0.4.1`), ESlint failed me because this plugin's `dist/index.js` was `require`-ing a package that was ESM-only (`mdast-util-from-markdown`).

I looked in this repo, and found that there was _supposed_ to be a workaround to fix this (by rolling up everything into CJS): https://github.com/hosseinmd/prettier-plugin-jsdoc/commit/28ac56e0eeaaf9d5f6e

[2022-08-22 14:51] #168 closed

[2022-08-22 15:16] ghdoergeloh commented on #173
No, your not. Got the same problem. Maybe it is just because the release is very young so nobody else had this error before. In the earlier Version 0.3.38 I only find the dependency of `mdast-util-from-markdown` but I cannot find any usage. In the newer Version (which I cannot find here on github) there is a `require('mdast-util-from-markdown')` which results in this issue.

So for a workaround, I

[2022-08-22 21:52] curthipster opened #174 "ES module error after upgrading to 0.4.1"
After upgrading to 0.4.1, prettier is failing with the following error:

[code]

[2022-08-24 08:01] cailloumajor commented on #174
Version 0.4.1 looks like a phantom release: there is no mention of it in the repository (commit history, changelog, `version` property in `package.json`, ...). I would argue (at least for myself) to not update to it.

[2022-08-24 08:48] hosseinmd commented on #173
Fixed: v0.4.2

[2022-08-24 08:48] #173 closed

[2022-08-24 08:55] giltayar commented on #173
Works! Thanks!

[2022-08-24 09:43] hosseinmd commented on #174
Fixed: v0.4.2

[2022-08-24 09:43] #174 closed

[2022-08-29 00:17] turadg commented on #155
@hosseinmd have you confirmed this is a bug? Is it one you intend to work on or will it require a community fix?

[2022-08-29 09:29] hosseinmd commented on #155
Yes, this is a bug. I will, but Now I don't have enough time.

[2022-08-29 09:50] #128 closed

[2022-08-29 13:10] egilll opened #175 "Any idea for how to get a comment's indentation _after_ formatting?"
Running Prettier twice is supposed to give the same output. There does however not appear to be a good way to figure out what a comment's indentation will be after code formatting. We therefore wrap lines at a comment's current width, but not at the width it will have after the rest of the file has been formatted:

[code]
will become:
[code]
which will then become:
[code]

I do run into this issue

[2022-08-30 07:11] hosseinmd commented on #175
[printComment](https://prettier.io/docs/en/plugins.html#optional-printcomment) is so interested. These functions (printComment, canAttachComment, isBlockComment, handleComments, ownLine) are so useful for us, but I don't test these before.

[2022-08-30 10:09] arthurgubaidullin opened #176 "Incorrect handling of default type parameter values produces infinite changes"
Example of buggy code:
[code]
First formatting produces the following result:
[code]
Second formatting produces the following result:
[code]
Third formatting produces the following result:
[code]
And so on.

Prettier config:
[code]

Environment:
- prettier-plugin-jsdoc@0.4.2
- prettier@2.7.1

[2022-08-30 11:25] arthurgubaidullin commented on #176
I think the problem is on this line. A possible line break is not checked.

https://github.com/hosseinmd/prettier-plugin-jsdoc/blob/d255d76b93aba6bb528c0db34e2de7e4a6e7ce57/src/parser.ts#L533

[2022-10-03 06:56] hosseinmd commented on #156
Description of whole block should be moved to top of block as description and other tags should be below of description.

Head tags are in top of tags and below description

[2022-10-03 06:56] #156 closed

[2022-10-03 23:43] turadg opened #178 "code blocks shouldn't wrap"
# Example input
[code]

# Actual result

[code]

# Expected result

No rewrapping of code blocks. No insertion of additional characters (notice `;`).

This happens with code fences too.

Version 0.4.2

[2022-10-03 23:48] turadg commented on #162
Please don't make that a goal of this project. Its main value is consistency _within a codebase_ and making it inflexible makes it harder to adopt into codebases. The default settings suffice to nudge people towards your chosen norms.

[2022-10-04 06:58] hosseinmd commented on #162
Yes you are totaly right. but implemention is hard, some logic was hard code,